.icon--after {
  display: inline-block;
  margin-left: 4px;
  line-height: 1;
  font-family: 'EuropaIcons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
  speak: none; }

@media print {
  .hidden-print {
    display: none !important; } }

.hide-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 19%;
  background: #004494;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
  cursor: pointer; }

@media (max-width: 748px) {
  .hide-menu {
    display: none; } }

#kss-node .kss-section {
  max-width: none; }

#kss-node .kss-main {
  max-width: 78em; }

#kss-node .kss-source {
  margin-top: -50px; }

#kss-node .kss-nav__ref {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  text-align: right;
  color: #bbb; }

#kss-node .kss-modifier__wrapper {
  overflow: hidden; }

#kss-node .kss-title__ref {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px; }

#kss-node .kss-modifier__heading {
  padding: 5px 10px; }

a.kss-nav__menu-link {
  text-decoration: none;
  padding: 2px 0;
  color: #004494;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
  width: 100%; }

#kss-node .kss-nav__menu-child {
  margin-left: 1.5em; }

.kss-nav__menu-child a.kss-nav__menu-link {
  border-bottom: none; }

#kss-node .kss-nav__menu-child li:first-child {
  border-top: none; }

.kss-modifier__example {
  height: auto;
  float: left;
  width: 100%; }

.kss-modifier__name,
.kss-markup.kss-style,
.kss-modifier__description {
  clear: both; }

#kss-node .kss-description > p {
  max-width: none; }

#kss-node .kss-modifier__wrapper {
  float: left;
  width: 100%; }

#kss-node .kss-modifier__name,
#kss-node .kss-modifier__description {
  margin: 2.4em 0;
  padding: 0.6em;
  display: inline-block;
  float: none; }

#kss-node .kss-modifier__name {
  background: #004494;
  color: #ffffff;
  width: 50%;
  margin-left: -0.6em; }
  #kss-node .kss-modifier__name::before {
    content: "[Modifier] ";
    font-size: 0.778em;
    clear: both; }

#kss-node .kss-modifier__description {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  width: 52%;
  margin: 2.4em -0.9em 3em -0.5em; }

#kss-node .kss-markup {
  position: relative;
  max-height: 40px;
  overflow: hidden;
  visibility: hidden; }
  #kss-node .kss-markup::before {
    content: "Show html markup";
    position: absolute;
    right: 0;
    padding: 0.2em 1em;
    visibility: visible;
    background-color: #404040;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    clear: both; }
  #kss-node .kss-markup:hover {
    visibility: visible;
    max-height: none; }
    #kss-node .kss-markup:hover::before {
      background-color: transparent;
      font-size: 0; }

#kss-node .styleguide-example {
  padding: 1em 0 0.5em;
  background: #575757;
  color: #ffffff;
  clear: left;
  float: left;
  width: 100%; }
  #kss-node .styleguide-example p {
    text-align: center;
    max-width: none; }

#kss-node #kssref-banner-background .kss-modifier__example {
  max-width: 1140px; }

.section-styleguide-random {
  background: #666;
  text-align: center;
  color: #ffffff; }

.section-styleguide {
  background: #ececec;
  text-align: center;
  color: #004494; }
  .section-styleguide p {
    max-width: none; }
  .section-styleguide .section__group-styleguide {
    background: #ccc; }
    .section-styleguide .section__group-styleguide p {
      padding: 50px 0; }

.kss-state {
  padding: 8px 20px;
  margin: 15px 0;
  border-bottom: 1px solid #ececec;
  color: #004494;
  clear: both;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; }
  .kss-state:before {
    content: "State:";
    margin-right: 10px;
    display: inline-block; }

/*# sourceMappingURL=europa_styleguide.css.map */