/**
* Single responsibility helper/utility classes.
* Logic: equal to inline styling.
* @see: http://davidtheclark.com/on-utility-classes/
*/

.clear-bottom-spacing {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
