#kss-node .kss-modifier__wrapper {
  overflow: hidden;
}

.kss-modifier__example {
  height: auto;
  overflow: hidden;
}

.kss-modifier__name,
.kss-markup.kss-style,
.kss-modifier__description {
  clear: both;
}
