// Custom mixins

// Breakpoints
@mixin breakpoint($point) {
  @if $point == screen-lg-min {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  }

  @else if $point == screen-md-min {
    @media (min-width: $screen-md-min) {
      @content;
    }
  }

  @else if $point == screen-sm-min {
    @media (min-width: $screen-sm-min) {
      @content;
    }
  }

  @else if $point == screen-msm-min {
    @media (min-width: $screen-msm-min) {
      @content;
    }
  }

  @else if $point == screen-xs-min {
    @media (min-width: $screen-xs-min)  {
      @content;
    }
  }
}

// Language generator.
@mixin languages_logo($path-and-filename, $modifier-and-file-extension) {
  @each $item in $languages {
    &.language-#{$item} {
      .logo {
        background-image: url("#{$path-and-filename}#{$item}#{$modifier-and-file-extension}");
      }
      @media print {
        .logo:before {
          content: url("#{$path-and-filename}#{$item}#{$modifier-and-file-extension}");
        }
      }
    }
  }
}
