@import "variables";
// Custom mixins.

// Breakpoints.
@mixin breakpoint($point) {
  @if $point == screen-lg-min {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  }

  @else if $point == screen-md-min {
    @media (min-width: $screen-md-min) {
      @content;
    }
  }

  @else if $point == screen-sm-min {
    @media (min-width: $screen-sm-min) {
      @content;
    }
  }

  @else if $point == screen-msm-min {
    @media (min-width: $screen-msm-min) {
      @content;
    }
  }

  @else if $point == screen-xs-min {
    @media (min-width: $screen-xs-min)  {
      @content;
    }
  }
}

// Select list arrow styling.
@mixin select-list-arrow($background-color, $arrow-grey:false) {
  @if ($arrow-grey) {
    background: url("../images/svg/arrow-down.svg"), linear-gradient(to bottom, $background-color, $background-color);

    .no-svg & {
      background: url("../images/png/arrow-down.png"), linear-gradient(to bottom, $background-color, $background-color);
    }
  } @else {
    background: url("../images/svg/arrow-down--white.svg"), linear-gradient(to bottom, $background-color, $background-color);

    .no-svg & {
      background: url("../images/png/arrow-down--white.png"), linear-gradient(to bottom, $background-color, $background-color);
    }
  }

  background-repeat: no-repeat;
  background-position: right (($form-control-height - $font-size-medium) / 2) - $form-border-width center, right;
  // Important to make the style guide not break.
  background-size: $font-size-medium + 0.10em (20em / 32.6em) * $font-size-medium, $form-control-height 100% !important;
  transition: none;

  // Specific size for IE10+.
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-size: $font-size-medium + 0.10em (20em / 32.6em) * $font-size-medium, $form-control-height 100% !important;
  }
}

// Language generator.
@mixin logo-background-languages($file_path, $file_extension, $logo_class: logo--logotype) {
  @each $item in $languages {
    .language-#{$item} {
      .#{$logo_class} {
        background-image: url("#{$file_path}#{$item}#{$file_extension}");
      }

      @media print {
        .#{$logo_class}::before {
          content: url("#{$file_path}#{$item}#{$file_extension}");
        }
      }
    }
  }
}

// Show/hide mixin, to be applied on the element to toggle.
@mixin show_hide() {
  position: relative;
  max-height: 40px;
  overflow: hidden;
  visibility: hidden;

  &::before {
    content: "Show html markup";
    position: absolute;
    right: 0;
    padding: 0.2em 1em;
    visibility: visible;
    background-color: $grey-base;
    font-weight: $font-weight-bold;
    color: $white;
    cursor: pointer;
    clear: both;
  }

  &:hover {
    visibility: visible;
    max-height: none;

    &::before {
      background-color: transparent;
      font-size: 0;
    }
  }
}

@mixin text-small() {
  font-size: $font-size-xsmall;
}

$modifiers: (
  external: \e825,
  book: \0022,
  data: \24,
  file: \26,
  copy: \29,
  spreadsheet: \2d,
  video: \e800,
  audio: \e801,
  brochure: \e802,
  euro: \e803,
  warning: \e804,
  spinner: \e805,
  in: \e806,
  edit: \e807,
  facebook: \e809,
  digital: \e80b,
  googleplus: \e80c,
  image: \e80d,
  package: \e812,
  infographic: \e80f,
  linkedin: \e810,
  organigram: \e811,
  presentation: \e80e,
  rss: \e813,
  success: \e814,
  info: \e815,
  check: \e816,
  twitter: \e817,
  energy: \e818,
  budget: \e81a,
  location: \e81b,
  livestreaming: \e81c,
  calendar: \e81d,
  down: \e81f,
  multiple-files: \e820,
  arrow-up: \e821,
  arrow-down: \e822,
  search: \e823,
  language: \e824,
  left: \e826,
  up: \e827,
  right: \e828,
  global: \e829,
  growth: \e82a,
  regulation: \e82b,
  close: \e82c,
  close-dark: \e82d,
  error: \e82f,
  generic-lang: \e81e,
  breadcrumb: \e828,
  download: \e806,
  tag-close: \e82c,
  feedback: \e82e,
  camera: \e900,
  slides: \e80e,
  faq: \3f,
);

@mixin icon($modifier, $char: map-get($modifiers, $modifier)) {
  content: #{"'"}#{$char}#{"'"};

  &::before {
    @extend .icon--#{$modifier};
  }
}

@mixin form-control() {
  @extend .hidden-print;
  color: $form-control-text-color;
  background-color: $form-control-background-color;
  border: 1px solid $form-control-border-color;
  border-radius: 0;
  margin-bottom: 1.1em;
  min-height: $form-control-height;
  font-size: $font-size-little;
  @include box-shadow(none);

  &.has-error {
    border-width: 2px;
    padding: 5px 11px;
  }

  // Focus state.
  &:focus,
  &.is-focused,
  .has-error &:focus {
    color: $form-control-text-color-focus;
    @include box-shadow(none);
  }

  @include _focus_outline_border(3px, $yellow-light, 0px, none);

  // Disabled modifier.
  &.is-disabled {
    color: $form-control-color-disabled;
    background-color: $form-control-background-color-disabled;
  }

  &.select {
    border-width: 1px;
  }
}

// External link specific adjustments.
@mixin _page_header_external_link_mixin() {
  display: inline-block;
  padding-right: 1.1em;

  &::after {
    position: absolute;
    line-height: 2.2;
  }

  &.btn {
    padding-right: 2.1em;
  }
}

@mixin _listing_external_link_mixin() {
  &::after {
    display: none !important;
  }

  .listing__title,
  .highlighted-item h3 {
    @extend .is-external;
    padding-right: 1.2em;

    &::after {
      position: absolute;
      line-height: 1.6;
    }
  }
}

// Focus outline border.
@mixin _focus_outline_border($thicknes:3px, $color:$yellow-light, $offset:0, $text-decoration:underline) {
  &:focus {
    outline: $thicknes solid $color;
    outline-offset: $offset;
    text-decoration: $text-decoration;
  }
}

// Should be used only with @extend.
.icon--after {
  display: inline-block;
  margin-left: 4px;
  line-height: 1;
  font-family: 'EuropaIcons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-decoration: none;
  speak: none;
}

// [converter] $parent hack.
@mixin hidden-print($selector) {
  #{$selector} {
    display: none !important;
  }
}

@media print {
  @include hidden-print('.hidden-print');
}

// Social icons image.
@mixin social_icon_background($selector, $social_path, $image, $image_hover, $extra: null, $extra_hover: null) {
  #{$selector} {
    &::before {
      background: url($social_path + $image) no-repeat $extra;
    }

    &:hover::before {
      background-image: url($social_path + $image_hover) $extra_hover;
    }
  }
}

// Media caption.
@mixin media-caption() {
  display: block;
  padding: 0.715em 1em;
  line-height: 1.5715;
  background-color: $grey-lighter;
  font-size: $font-size-xsmall;
}
