@import "mixins";
@import "variables";

#kss-node .kss-modifier__wrapper {
  overflow: hidden;
}

.kss-modifier__example {
  height: auto;
}

.kss-modifier__name,
.kss-markup.kss-style,
.kss-modifier__description {
  clear: both;
}

// Fixes for the styleguide.
#kss-node {

  .kss-description > p {
    max-width: none;
  }

  .kss-modifier__wrapper {
    float: left;
    width: 100%;
  }

  .kss-modifier__name,
  .kss-modifier__description {
    margin: 2.4em 0;
    padding: 0.6em;
    display: inline-block;
    float: none;
  }

  .kss-modifier__name {
    background: $brand-primary;
    color: #fff;
    width: 50%;
    margin-left: -0.6em;

    &::before {
      content: "[Modifier] ";
      font-size: $font-size-h5;
      clear: both;
    }
  }

  .kss-modifier__description {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: bold;
    width: 53%;
    margin: 2.4em -0.9em 3em -0.5em;
  }

  .kss-markup {
    @include show_hide();
  }

  .styleguide-example {
    padding: 1em 0 0.5em;
    background: #575757;
    color: #fff;
    clear: left;
    float: left;
    width: 100%;

    p {
      text-align: center;
      max-width: none;
    }
  }
}

.section-styleguide-random {
  background: #666;
  text-align: center;
  color: #fff;
}

.section-styleguide {
  background: #ececec;
  text-align: center;
  color: #004494;

  p {
    max-width: none;
  }

  .section__group-styleguide {
    background: #ccc;

    p {
      padding: 50px 0;
    }
  }
}
