// Bootstrap overrides and new variables.

// @todo replace this invalid colors with the correct ones.
$datepicker-color-header: #393939;
$datepicker-color-select: #4f4f4f;
$datepicker-color-select-separator: #686868;
$datepicker-color-background: #eaeaea;
$agenda-yellow: #fed437;
//.file-upload .file-upload__message in color: #999999
//.page-header .page-header__site-identification h3 in color: #b0c5de
//.site-menu .listing__item in border-color: #dcb812
//.ui-datepicker .ui-state-highlight in background-color: #fed500
//.site-user-menu__list .site-user-menu--header background: #ececec
//.splash-page &__helper-text tbody in border-bottom: 1px solid #245898
//.splash-page &__helper-text tbody tr in border-top: 1px solid #245898

// Check properties that uses rgba values.

// Colors.
$ec-blue:           #004494;
$ec-blue-25:        #bfd0e4;
$ec-blue-50:        #7fa1c9;
$ec-blue-75:        #4073af;
$ec-blue-110:       #003d84;
$ec-blue-120:       #003776;

$ec-grey:           #404040;
$ec-grey5:          #f5f5f5;
$ec-grey10:         #ebebeb;
$ec-grey15:         #e3e3e3;
$ec-grey25:          #cfcfcf;
$ec-grey50:         #9f9f9f;
$ec-grey75:         #575757;

$ec-yellow:         #ffd617;
$ec-yellow25:       #fff4bb;
$ec-yellow50:       #ffe879;
$ec-yellow75:       #ffde39;
$ec-yellow110 :      #fbc11d;
$ec-yellow120:      #f8ae21;

// Notification colors.
$ec-blue-n:         #006fb4;
$ec-orange-n :       #f29527;
$ec-green-n:        #467a39;
$ec-red-n:          #da2131;

$brand-primary:     $ec-blue;
$brand-political:   $ec-blue-120;
$brand-success:     $ec-green-n;
$brand-info:        $ec-grey75;
$brand-warning:     $ec-yellow110 ;
$brand-danger:      $ec-red-n;

$text-color:        $ec-grey;

// Typography.
$font-family-sans-serif:  Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:    15px;    // mobile default first, desktop default is 18px.
$font-size-huge:    1.667em; // 30px
$font-size-big:     1.333em; // 24px
$font-size-mid:     1.222em; // 22px
$font-size-medium:  1em;     // 18px
$font-size-little:  0.889em; // 16px
$font-size-tiny:    0.833em; // 15px
$font-size-xsmall:  0.778em; // 14px
$font-size-xxsmall: 0.67em;  // 12px

$font-size-h1:  2.222em;
$font-size-h2:  $font-size-huge;
$font-size-h3:  $font-size-mid;
$font-size-h4:  $font-size-medium;
$font-size-h5:  $font-size-xsmall;
$font-size-h6:  $font-size-xsmall;

$font-weight-normal:  400;
$font-weight-bold:    600;

// Medium small screen / tablet.
$screen-msm:      622px !default;
$screen-msm-min:  $screen-msm !default;

// Grid defaults.
$grid-columns: 12;

$col-1:   percentage((1/ $grid-columns));
$col-2:   percentage((2/ $grid-columns));
$col-3:   percentage((3/ $grid-columns));
$col-4:   percentage((4/ $grid-columns));
$col-5:   percentage((5/ $grid-columns));
$col-6:   percentage((6/ $grid-columns));
$col-7:   percentage((7/ $grid-columns));
$col-8:   percentage((8/ $grid-columns));
$col-9:   percentage((9/ $grid-columns));
$col-10:  percentage((10/ $grid-columns));
$col-11:  percentage((11/ $grid-columns));
$col-12:  percentage((12/ $grid-columns));

// Grid sizes without percentages.
$col-1-no-percentage: (85 / $grid-columns);

// Form control.
$form-control-height: 2.750em; //44px basing on form control base font size.

// Form colors.
$form-control-color-disabled:                     $ec-grey50;

$form-control-text-color:                         $ec-grey;
$form-control-text-color-focus:                   #000;
$form-control-border-color:                       $ec-grey;
$form-control-border-color-focus:                 $ec-yellow;
$form-control-background-color:                   #fff;
$form-control-background-color-disabled:          $ec-grey15;
$state-danger-text:                               $brand-danger;

// Select.
$form-control-border-select-color-hover:          $brand-primary;
$form-control-border-select-color-down:           $ec-grey;

// Checkbox and radio.
// Unchecked.
$form-checkbox-color-unchecked:                   $ec-grey75;
$form-checkbox-background-color-unchecked:        $ec-grey10;

// Unchecked, hover.
$form-checkbox-color-unchecked-hover:             $ec-grey75;
$form-checkbox-border-color-unchecked-hover:      $brand-primary;
$form-checkbox-background-color-unchecked-hover:  #fff;

// Checked.
$form-checkbox-color-checked:                     #fff;
$form-checkbox-background-color-checked:          $brand-primary;

// Checked, hover.
$form-checkbox-color-checked-hover:               #fff;
$form-checkbox-border-color-checked-hover:        $ec-yellow;
$form-checkbox-background-color-checked-hover:    $brand-primary;

// Navigation block color settings.
$navigation-title-color:        $ec-blue-120;
$navigation-title-hover-color:  #000;
$navigation-top-border-color:   $ec-yellow;

// Icon size.
$form-checkbox-icon-size: 1.500em; // 24px

// Form border width.
$form-border-width: 0.111em;

// Help block.
$form-group-help-block-text-color:            $ec-grey75;
$form-group-help-block-text-color-disabled:   $form-control-color-disabled;
$form-group-help-block-text-color-has-error:  $form-group-help-block-text-color;

$form-item-legend-font-size: $font-size-xxsmall;

// Attribute selector for external links.
$external_link_pattern: 'href^="http"';
$ec_url_patterns: '[href*="ec.europa.eu"]';

// In order to override the 'default!', bootstrap variables have to be added
// after the overrides.
@import "../bootstrap-sass/bootstrap/variables";

// Point at which the navbar becomes un-collapsed.
$grid-float-breakpoint:     $screen-lg-min;
// Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Used languages.
$languages: ("bg", "cs", "da", "de", "el",
  "en", "es", "et", "fi", "fr", "ga",
  "hr", "hu", "it", "lt", "lv", "mt",
  "nl", "pl", "pt", "ro", "sk", "sl",
  "sv");
