// Bootstrap overrides and new variables

// Colors
$grey-base:              #404040;
$grey-dark:              #575757;
$grey:                   #b3b4b5;
$grey-light:             #e2e2e2;
$grey-lighter:           #ececec;
$grey-lightest:          #f2f2f2;

$blue-light:             #b0c5de;
$blue:                   #006fb4;
$blue-dark:              #004494;
$blue-darkest:           #023066;
$blue-darker:            #012b58;

$yellow-light:           #ffd617;
$yellow:                 #ffc412;
$yellow-dark:            #f2a615;

$green:                  #467a39;

$red:                    #ff2423;

$brand-primary:          $blue-dark;
$brand-political:        $blue-darker;
$brand-success:          $green;
$brand-info:             $grey-dark;
$brand-warning:          $yellow-dark;
$brand-danger:           $red;

$text-color:             $grey-base;

// Typegraphy
$font-family-sans-serif:  Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          15px; // this is mobile first default, desktop default is 18px
$font-size-huge:          1.667em; // 30px
$font-size-big:           1.333em; // 24px
$font-size-mid:           1.222em; // 22px
$font-size-medium:        1em; // 18px
$font-size-little:        0.889em; // 16px
$font-size-xsmall:        0.778em; // 14px

$font-size-h1:            2.222em;
$font-size-h2:            1.667em;
$font-size-h3:            1.333em;
$font-size-h4:            1.222em;
$font-size-h5:            1em;
$font-size-h6:            $font-size-xsmall;

$font-weight-normal:      400;
$font-weight-bold:        600;

// Medium Small screen / tablet
$screen-msm:                  622px !default;
$screen-msm-min:              $screen-msm !default;

// Grid defaults
$grid-columns: 12;

$col-1: percentage((1/ $grid-columns));
$col-2: percentage((2/ $grid-columns));
$col-3: percentage((3/ $grid-columns));
$col-4: percentage((4/ $grid-columns));
$col-5: percentage((5/ $grid-columns));
$col-6: percentage((6/ $grid-columns));
$col-7: percentage((7/ $grid-columns));
$col-8: percentage((8/ $grid-columns));
$col-9: percentage((9/ $grid-columns));
$col-10: percentage((10/ $grid-columns));
$col-11: percentage((11/ $grid-columns));
$col-12: percentage((12/ $grid-columns));

// Form control
$form-control-height:                             2.750em; //44px basing on form control base font size.

// Form colors.
$form-control-color-disabled:                     $grey;

$form-control-text-color:                         $grey-dark;
$form-control-text-color-focus:                   #000;
$form-control-border-color:                       $grey-dark;
$form-control-border-color-focus:                 $yellow-light;
$form-control-background-color:                   #ffffff;
$form-control-background-color-disabled:          $grey-light;
$state-danger-text:                               $brand-danger;


// Select.
$form-control-border-select-color-hover:          $brand-primary;
$form-control-border-select-color-down:           $grey-dark;


// Checkbox and radio
// Unchecked.
$form-checkbox-color-unchecked:                   $grey-dark;
$form-checkbox-background-color-unchecked:        $grey-lighter;

// Unchecked, hover.
$form-checkbox-color-unchecked-hover:             $grey-dark;
$form-checkbox-border-color-unchecked-hover:      $brand-primary;
$form-checkbox-background-color-unchecked-hover:  #ffffff;

// Checked.
$form-checkbox-color-checked:                     #ffffff;
$form-checkbox-background-color-checked:          $brand-primary;

// Checked, hover.
$form-checkbox-color-checked-hover:               #ffffff;
$form-checkbox-border-color-checked-hover:        $yellow-light;
$form-checkbox-background-color-checked-hover:    $brand-primary;

// Icon size.
$form-checkbox-icon-size:                         1.250em;

// Form border width.
$form-border-width:                                    0.111em;

// Help block.
$form-group-help-block-text-color:                $grey-dark;
$form-group-help-block-text-color-disabled:       $form-control-color-disabled;
$form-group-help-block-text-color-has-error:      $form-group-help-block-text-color;

// Attribute selector for external links.
$external_link_pattern: 'href^="http"';

// In order to override the 'default!', bootstrap variables have to be added
// after the overrides
@import "../bootstrap-sass/bootstrap/variables";


//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-lg-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Used languages.
$languages: ("bg", "cs", "da", "de", "el",
  "en", "es", "et", "fi", "fr", "ga",
  "hr", "hu", "it", "lt", "lv", "mt",
  "nl", "pl", "pt", "ro", "sk", "sl",
  "sv");
