@import "mixins";
@import "variables";

$large-desktop-width: ($container-lg - $grid-gutter-width) !default;

.hide-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 19%;
  background: $brand-primary;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 748px) {
  .hide-menu {
    display: none;
  }
}

#kss-node .kss-section {
  max-width: none;
}

#kss-node .kss-main {
  max-width: 78em;
}

#kss-node .kss-source {
  margin-top: -50px;
}

#kss-node .kss-nav__ref {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  text-align: right;
  color: #bbb;
}

#kss-node .kss-modifier__wrapper {
  overflow: hidden;
}

#kss-node .kss-title__ref {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

#kss-node .kss-modifier__heading {
  padding: 5px 10px;
}

a.kss-nav__menu-link {
  text-decoration: none;
  padding: 2px 0;
  color: $brand-primary;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
}

#kss-node .kss-nav__menu-child {
  margin-left: 1.5em;
}

.kss-nav__menu-child a.kss-nav__menu-link {
  border-bottom: none;
}

#kss-node .kss-nav__menu-child li:first-child {
  border-top: none;
}

.kss-modifier__example {
  height: auto;
  float: left;
  width: 100%;
}

.kss-modifier__name,
.kss-markup.kss-style,
.kss-modifier__description {
  clear: both;
}

// Fixes for the style guide.
#kss-node {

  .kss-description > p {
    max-width: none;
  }

  .kss-modifier__wrapper {
    float: left;
    width: 100%;
  }

  .kss-modifier__name,
  .kss-modifier__description {
    margin: 2.4em 0;
    padding: 0.6em;
    display: inline-block;
    float: none;
  }

  .kss-modifier__name {
    background: $brand-primary;
    color: $white;
    width: 50%;
    margin-left: -0.6em;

    &::before {
      content: "[Modifier] ";
      font-size: $font-size-h5;
      clear: both;
    }
  }

  .kss-modifier__description {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: bold;
    width: 52%;
    margin: 2.4em -0.9em 3em -0.5em;
  }

  .kss-markup {
    @include show_hide();
  }

  .styleguide-example {
    padding: 1em 0 0.5em;
    background: #575757;
    color: $white;
    clear: left;
    float: left;
    width: 100%;

    p {
      text-align: center;
      max-width: none;
    }
  }

  #kssref-banner-background {
    .kss-modifier__example {
      max-width: $large-desktop-width;
    }
  }
}

.section-styleguide-random {
  background: #666;
  text-align: center;
  color: $white;
}

.section-styleguide {
  background: #ececec;
  text-align: center;
  color: #004494;

  p {
    max-width: none;
  }

  .section__group-styleguide {
    background: #ccc;

    p {
      padding: 50px 0;
    }
  }
}

.kss-state {
  padding: 8px 20px;
  margin: 15px 0;
  border-bottom: 1px solid #ececec;
  color: #004494; 
  clear: both;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; 
}