/* Header top

  Placeholder for adding a background on the .header-top
*/

.header-top {
  background: $grey-lightest;

  .container-fluid {
    padding: 0;
  }

  @include breakpoint(screen-md-min) {
    .container-fluid {
      padding: 0 15px;
    } 
  }
}
