.ceiling {
  border-top: $yellow-light solid 10px;
}

.main-content {
  overflow: hidden;
}

// Drupal connect.
.node-type-info-homepage .page-content {
  @extend .page-content--border;
}

.row > .row {
  margin: 0;
}