.top-bar {
  padding: 15px 0 0 0;
  overflow: hidden;
  width: 100%;
}

@include breakpoint(screen-xs-min) {
  .block-nexteuropa-europa-search,
  .site-menu__toggle {
    float: left;
    padding-left: 15px;
    width: 25%;
  }

  .block-nexteuropa-europa-search {
    width: 75%;
  }
}

@include breakpoint(screen-sm-min) {
  .site-menu__toggle {
    float: right;
    padding-left: 15px;
    width: 25%;
    .btn {
      text-align: center;
    }
  }
}

@include breakpoint(screen-md-min) {
  .top-bar {
    width: auto;
    float: right;
    position: relative;
    padding-bottom: 10px;
    top: 6px;

    & > .region {
      padding: 0;
      margin: 0;
    }

    .block-nexteuropa-europa-search {
      width: auto;
      padding-left: 15px;
    }

    .site-menu__toggle {
      width: auto;
      padding-left: 15px;
      .btn {
        margin-bottom: auto;
      }
    }
  }
}
