<div class="banner banner--video">
  <div class="banner__left">
    <div class="banner__video">
      <iframe class="video" src="http://ec.europa.eu/avservices/play.cfm?ref=I101060&amp;videolang=INT&amp;devurl=http://ec.europa.eu/avservices/video/player/config.cfm" id="I101060" width="100%" height="auto" frameborder="0" scrolling="no" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
    </div>
    <div class="banner__caption">
      Example video caption
    </div>
  </div>
  <div class="banner__paragraph">
    Duis facilisis, tortor a pharetra consequat, leo leo ultricies libero, vel pharetra risus odio vitae libero. Sed nec metus ac purus lobortis luctus. Fusce eget pellentesque erat, et venenatis eros. Nunc tempor sed dui sit amet ornare. Suspendisse nec turpis augue. Aliquam erat volutpat. Cras congue nulla mauris, non vehicula nisi eleifend sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sed neque a arcu vulputate lacinia ac at eros. Nunc porttitor felis at dolor placerat sodales. In vel venenatis nisi, et sollicitudin augue. Ut condimentum odio sit amet lacus vehicula volutpat.
  </div>
</div>
