<div class="banner banner--video">
  <div class="banner__left">
    <div class="banner__video">
      <div class="field field--field-banner-video-file ">
        <div class="field__items">
          <div id="file-24--2" class="file file-video file-video-avportal contextual-links-region">
            <div class="content">
              <iframe width="555" height="325" frameborder="0" allowfullscreen="" mozallowfullscreen=""
                      webkitallowfullscreen="" id="videoplayerI101631" scrolling="no"
                      src="http://ec.europa.eu/avservices/play.cfm?ref=I101631&amp;starttime=0&amp;endtime=0">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__caption">
      <div class="field field--field-banner-caption ">
        <div class="field__items">Digital Single Market: making the EU's single market freedoms "go digital"</div>
      </div>
    </div>
  </div>
  <div class="banner__paragraph">
    <div class="field field--field-core-description ">
      <div class="field__items"><p>The internet and digital technologies are transforming our world. But existing
        barriers online mean citizens miss out on goods and services, internet companies and start-ups have their
        horizons limited, and businesses and governments cannot fully benefit from digital tools.</p>
        <p>It's time to make the EU's single market fit for the digital age – tearing down regulatory walls and moving
          from 28 national markets to a single one. This could contribute €415 billion per year to our economy and
          create hundreds of thousands of new jobs.</p>
      </div>
    </div>
  </div>
</div>
