<div class="expandable expandable--link">
  <a href="#draft-delegated-regulation" class="expandable__toggle collapsed" data-toggle="collapse" data-target="#draft-delegated-regulation" aria-expanded="false">Draft delegated regulation<span class="icon icon--up"></span></a>
  </a>
  <div id="draft-delegated-regulation" class="expandable__content collapse">
    <p>Delegated regulations enable the Commission to supplement or amend non‑essential parts of EU laws. For example, in order to define detailed measures related to a law.</p>
  </div>
</div>
<div class="expandable expandable--link">
  <a href="#more-on-delegated-acts" class="expandable__toggle collapsed" data-toggle="collapse" data-target="#more-on-delegated-acts" aria-expanded="false">More on delegated acts<span class="icon icon--up"></span></a>
  </a>
  <div id="more-on-delegated-acts" class="expandable__content collapse">
    <p>Commission Delegated Regulation (EU) 2015/98 on the implementation of the Union's international obligations, as referred to in Article 15(2) of Regulation (EU) No 1380/2013 of the European Parliament and of the Council, under the International Convention for the Conservation of the Atlantic Tunas and the Convention on Future Multilateral Cooperation in the Northwest Atlantic Fisheries.</p>
  </div>
</div>
