<div class="col-lg-10"> <!-- only required for the style guide -->
  <div class="file file-video file-video--with-background">
    <iframe src="http://ec.europa.eu/avservices/play.cfm?ref=I101631"
            id="videoplayer-example" width="555" height="325" frameborder="0" scrolling="no"
            webkitAllowFullScreen="false" mozallowfullscreen="false" allowFullScreen="false">
    </iframe>
    <div class="file__caption">
      <div class="field__items">Video caption</div>
    </div>
  </div>
</div>
