<footer class="footer">
  <div class="footer__improved">
    <div class="container-fluid">
      <div class="row">
        <div class="footer__improved--column-first">
          <ul class="footer__menu ul-list-inline">
            <li class="footer__menu-item"><strong><a href="#">Digital single market</a></strong></li>
          </ul>
        </div>
        <div class="footer__improved--column-second">
        <p class="footer__improved--label">Follow us:</p>
          <ul class="footer__menu ul-list-inline">
              <li class="footer__menu-item">
                <a href="#" class="icon icon--facebook footer__icon--social" target="_blank">Facebook</a>
              </li>
              <li class="footer__menu-item">
                <a href="#" class="icon icon--twitter footer__icon--social">Twitter</a>
              </li>
              <li class="footer__menu-item">
                <a href="#" class="is-external">Other social media</a>
              </li>
            </ul>
        </div>
        <div class="footer__improved--column-third">
          <ul class="footer__menu ul-list-inline"">
              <li class="footer__menu-item">
                <a href="#">Contact</a>
              </li>
              <li class="footer__menu-item">
                <a href="#">Site map</a>
              </li>
            </ul>
        </div>
        <div class="footer__improved--column-fourth">
          <ul class="footer__menu ul-list-inline"">
              <li class="footer__menu-item">
                <a href="#">Lorem ipsum</a>
              </li>
              <li class="footer__menu-item">
                <a href="#">Lorem ipsum</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__top">
    <div class="container-fluid">
      <div class="row">
          <div class="footer__top--column">
            <h4 class="footer__title">European Commission</h4>
            <ul class="footer__menu">
              <li class="footer__menu-item">
                <a href="#">Commission and it's priorities</a>
              </li>
              <li class="footer__menu-item">
                <a href="#">Policies information and services</a>
              </li>
            </ul>
          </div>

          <div class="footer__top--column">
            <h4 class="footer__title">Follow the European Commission</h4>
            <ul class="footer__menu ul-list-inline">
              <li class="footer__menu-item">
                <a href="#" class="icon icon--facebook footer__icon--social" target="_blank">Facebook</a>
              </li>
              <li class="footer__menu-item">
                <a href="#" class="icon icon--twitter footer__icon--social">Twitter</a>
              </li>
              <li class="footer__menu-item">
                <a href="#" class="is-internal">Other social media</a>
              </li>
            </ul>
          </div>

          <div class="footer__top--column">
            <h4 class="footer__title">European Union</h4>
            <ul class="footer__menu">
              <li class="footer__menu-item">
               <a href="#" class="is-external">EU institutions</a>
              </li>
              <li class="footer__menu-item">
                <a href="#" class="is-external">European Union</a>
              </li>
            </ul>
          </div>

      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">

          <ul class="footer__menu ul-list-inline">
            <li class="footer__menu-item">
              <a href="#">About the Commission's new web presence</a>
            </li>
            <li class="footer__menu-item">
              <a href="#">Resources for partners</a>
            </li>
            <li class="footer__menu-item">
              <a href="#">Cookies</a>
            </li>
            <li class="footer__menu-item">
              <a href="#">Legal notice</a>
            </li>
            <li class="footer__menu-item">
              <a href="#">Contact</a>
            </li>
            <li class="footer__menu-item">
              <a href="#">Europa Analytics</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</footer>
