<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <aside class="col-sm-4 footer__column-right">
          <a href="http://ec.europa.eu/index_en.htm" class="site-switcher footer__site-switcher"><span>The European Commission </span><span>and its priorities</span></a>  
        </aside>
        <section class="col-sm-8 footer__column-main">
            <span class="footer__label">View the European Commission on :</span>
            <ul class="footer__menu menu nav list-inline">
                <li class="footer__menu-item">
                  <a href="https://www.facebook.com/EuropeanCommission" class="icon icon--facebook footer__icon--facebook" target="_blank">Facebook</a>
                </li>
                <li class="footer__menu-item">
                  <a href="https://twitter.com/eu_commission" class="icon icon--twitter footer__icon--twitter">Twitter</a>
                </li>
                <li class="footer__menu-item">
                  <a href="/other-social-media">Other social media</a>
                </li>
            </ul>
            <ul class="footer__menu footer__menu--separator menu nav list-inline">
                <li class="footer__menu-item">
                  <a href="http://ec.europa.eu/geninfo/legal_notices_en.htm">Help</a>
                </li>
                <li class="footer__menu-item">
                  <a href="http://ec.europa.eu/cookies/index_en.htm">Cookies and privacy notice</a>
                </li>
                <li class="footer__menu-item">
                  <a href="http://ec.europa.eu/contact/index_en.htm">Legal statement</a>
                </li>
            </ul>
            <div class="footer__disclaimer"><span>© European Commission copyright. All content available under XX <a href="#">license</a>.</span></div>
        </section>
      </div>
    </div>
</footer>
