<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <section class="footer__column-main col-12">
        <span class="footer__label">The European Commission on:</span>
        <ul class="footer__menu menu nav list-inline">
          <li class="footer__menu-item"><a
            href="https://www.facebook.com/EuropeanCommission"
            class="icon icon--facebook footer__icon--facebook footer__icon--social"
            target="_blank">Facebook</a></li>
          <li class="footer__menu-item">
            <a href="https://twitter.com/eu_commission"
               class="icon icon--twitter footer__icon--twitter footer__icon--social">Twitter</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Other social media</a>
          </li>
        </ul>
        <ul class="footer__menu footer__menu--separator menu nav list-inline">
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/geninfo/legal_notices_en.htm">Help</a>
          </li>
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/cookies/index_en.htm">Cookies and privacy notice</a>
          </li>
          <li class="footer__menu-item">
            <a href="http://ec.europa.eu/contact/index_en.htm">Legal statement</a>
          </li>
          <li class="footer__menu-item-right">
            <a href="http://ec.europa.eu/contact/index_en.htm">Legal statement</a>
          </li>
        </ul>
        <div class="footer__disclaimer"><span>© European Commission 2015.</span>
        </div>
      </section>
    </div>
  </div>
</footer>
