<script src="public/js/components/lang-switcher/lang-switcher.js"></script>
<script src="public/js/components/lang-switcher/selectify.js"></script>
<div class="lang-select-page {{modifier_class}}">
  <span class="lang-select-page__icon icon icon--generic-lang"></span>
  <ul class="lang-select-page__list">
    <li class="lang-select-page__option lang-select-page__unavailable">Francais</li>
    <li class="lang-select-page__option is-selected"><a href="/en">English</a></li>
    <li class="lang-select-page__option"><a href="/nl">Nederlands</a></li>
    <li class="lang-select-page__option"><a href="/hr">hrvatski</a></li>
    <li class="lang-select-page__option"><a href="/it">italiano</a></li>
    <li class="lang-select-page__option"><a href="/lv">latviesu</a></li>
    <li class="lang-select-page__option"><a href="/hu">magyar</a></li>
  </ul>
</div>
