<div class="listing__wrapper listing__wrapper--row-three">
  <ul class="listing listing--no-border listing--teaser listing--cta">
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error</h3>
        <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">
          <a href="#" title="Title link">Architecto at deserunt</a>
        </h3>
        <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">Architecto at deserunt, distinctio</h3>
        <p>Vestibulum turpis sem, aliquet eget</p>
      </div>
    </li>
  </ul>
</div>
