<ul class="listing listing--title {{modifier_class}}">
  <li class="listing__item">
    <div class="listing__item__wrapper">
      <a href="#" class="listing__title" title="Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a>
    </div>
  </li>
  <li class="listing__item">
    <div class="listing__item__wrapper">
      <a href="#" class="listing__title" title="Architecto at deserunt, distinctio, eaque eos est et facere facilis.">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a>
    </div>
  </li>
  <li class="listing__item">
    <div class="listing__item__wrapper">
      <div class="meta [modifier class]">
        <span class="meta__item meta__item--type">news article</span>
        <span class="meta__item">17 September 2014</span>
      </div>
      <a href="#" class="listing__title" title="Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a>
    </div>
  </li>
  <li class="listing__item">
    <div class="listing__item__wrapper">
      <div class="meta [modifier class]">
        <span class="meta__item meta__item--type">SERVICE DEPARTMENT</span>
        <span class="meta__item">07 March 2017</span>
      </div>
      <a href="#" class="listing__title" title="Architecto at deserunt, distinctio, eaque eos est et facere facilis.">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a>
    </div>
  </li>
</ul>
