<div class="listing--agenda listing--column-left [modifier class]">
  <div class="listing__item">
    <div class="listing__column-second">
      <div class="date-block">
        <span class="date-block__day-text">Mon</span>
        <span class="date-block__day">12</span>
        <span class="date-block__month">Oct</span>
      </div>
    </div>
    <div class="listing__column-main">
      <div class="meta">
        <span class="listing__meta-item">COLLEGE MEETING</span>
      </div>
      <h3 class="listing__title">Meeting of the College of Commissioners</h3>
      <div class="listing__author">
        With: Jean-Claude Juncker
      </div>
    </div>
  </div>
  <div class="listing__item">
    <div class="listing__column-second">
      <div class="date-block">
        <span class="date-block__day-text">Mon</span>
        <span class="date-block__day">12</span>
        <span class="date-block__month">Oct</span>
      </div>
    </div>
    <div class="listing__column-main">
      <div class="meta">
        <span class="listing__meta-item">COLLEGE MEETING</span>
      </div>
      <h3 class="listing__title">Meeting of the College of Commissioners</h3>
      <div class="listing__author">
        With: Jean-Claude Juncker
      </div>
    </div>
  </div>
</div>
