<div class="listing__wrapper {{modifier_class}}">
  <ul class="listing listing--teaser">
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam."><span class="sr-only">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</span></a>
        <h3 class="listing__title">
          <a href="#" title="Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a>
        </h3>
        <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Architecto at deserunt, distinctio, eaque eos est et facere facilis."><span class="sr-only">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</span></a>
        <h3 class="listing__title">
          <a href="#" title="Architecto at deserunt, distinctio, eaque eos est et facere facilis.">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a>
        </h3>
        <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam."><span class="sr-only">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</span></a>
        <span class="label label--highlight">Label content</span>
        <h3 class="listing__title">
          <a href="#" title="Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a>
        </h3>
        <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Architecto at deserunt, distinctio, eaque eos est et facere facilis."><span class="sr-only">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</span></a>
        <span class="label label--highlight label--upper">Label in upper case</span>
        <span class="label label--highlight label--upper">Another Label</span>
        <h3 class="listing__title">
          <a href="#" title="Architecto at deserunt, distinctio, eaque eos est et facere facilis.">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a>
        </h3>
        <div class="field ">
          <div class="field__label">Reference</div>
          <div class="field__items">Ares(2017)1178558</div>
        </div>
        <div class="field ">
          <div class="field__label">Type</div>
          <div class="field__items">Roadmap</div>
        </div>
        <div class="field ">
          <div class="field__label">Department</div>
          <div class="field__items">Directorate-General for Internal Market, Industry, Entrepreneurship and SMEs</div>
        </div>
        <div class="field">
          <div class="field__label">Feedback period</div>
          <div class="field__items">8 March 2017 - 5 April 2017</div>
          <div class="field__items">
            <span class="icon icon--feedback icon--text-small">Feedback (1)</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
