<div class="listing__wrapper listing__wrapper--row-three">
  <ul class="listing listing--no-border listing--teaser listing--cta">
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque</h3>
        <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">
          <a href="#" title="Title link">Architecto at deserunt</a>
        </h3>
        <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu.</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">Architecto at deserunt, distinctio</h3>
        <p>Vestibulum turpis sem, aliquet eget lobortis pellentesque, rutrum eu.</p>
      </div>
    </li>
  </ul>
</div>

<div class="listing__wrapper listing__wrapper--row-three equal-height listing--teaser__wrapper equal-height-blocks-processed">
  <ul class="listing listing--no-border listing--teaser">
    <li class="listing__item">
      <div about="white-paper-future-europe-avenues-unity-eu-27_en" class="node">
        <a href="#" class="listing__item-link" title="White Paper on the future of Europe: Avenues for unity for the EU at 27">
          <span class="sr-only">White Paper on the future of Europe: Avenues for unity for the EU at 27</span>
        </a>
        <div class="listing__column-main ">
          <div class="highlighted-item">
            <div class="highlighted-item__image">
              <img class="img-responsive" src="http://lorempixel.com/360/240/business/8" />
            </div>
            <h3 class="highlighted-item__content">White Paper on the future of Europe</h3>
          </div>  
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div about="/dt_pol/content/european-solidarity-corps_en" class="node">
        <a href="#" class="listing__item-link" title="European Solidarity Corps">  <span class="sr-only">European Solidarity Corps</span>
        </a>
        <div class="listing__column-main ">
          <div class="highlighted-item">
            <div class="highlighted-item__image">
              <img class="img-responsive" src="http://lorempixel.com/360/240/business/9" />
            </div>
            <h3 class="highlighted-item__content">European Solidarity Corps</h3>
          </div>  
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div about="/dt_pol/content/managing-refugee-crisis_en" typeof="sioc:Item foaf:Document" class="node node-featured-item contextual-links-region view-mode-image_label">
        <a href="#" class="listing__item-link" title="Migration">
          <span class="sr-only">Migration</span>
        </a>
        <div class="listing__column-main ">
          <div class="highlighted-item">
            <div class="highlighted-item__image">
              <img class="img-responsive" src="http://lorempixel.com/360/240/business/10" />
            </div>
            <h3 class="highlighted-item__content">Migration</h3>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>