<div class="section">
  <div class="section__group section--row-three section--navigation">
    <!-- Title with additional text, links, and grandchilds section item. -->
    <div class="section__item">
      <div class="listing listing--navigation">
        <a href="#" class="listing__item-link"></a>
        <h2 class="listing__section-title">Title with additional text, links and grandchilds</h2>
        <p class="listing__description">This is the description. EU strategy, its role in setting priorities, and its implementation through EU policy.</p>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 1">Introduction to EU law</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 2">Find EU legislation (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 3">EU case law (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 4">Summaries of EU legislation</a>
        </div>
        <hr class="listing__separator">
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 1">Related Item 1.</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 2">Related Item 2.</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 3">Related Item 3.</a>
        </div>
      </div>
    </div>
    <!-- Title with additional text section item. -->
    <div class="section__item">
      <div class="listing listing--navigation">
        <a class="listing__item-link" href="#"></a>
        <h2 class="listing__section-title">Title with additional text</h2>
        <p class="listing__description">Information on the annual budget life-cycle.</p>
      </div>
    </div>
    <!-- Title with additional text, links, without any grandchild section item. -->
    <div class="section__item">
      <div class="listing listing--navigation">
        <a href="#" class="listing__item-link"></a>
        <h2 class="listing__section-title">Title with additional text, links and grandchilds</h2>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 1">Introduction to EU law</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 2">Find EU legislation (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 3">EU case law (EUR-Lex)</a>
        </div>
        <div class="listing__item">
          <a href="#" class="listing__title" title="Title link 4">Summaries of EU legislation</a>
        </div>
      </div>
    </div>
  </div>
</div>
