<div class="listing__wrapper {{modifier_class}}">
  <ul class="listing listing--teaser">
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">
          <a href="#" title="Title link 1">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a>
        </h3>
        <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <h3 class="listing__title">
          <a href="#" title="Title link 2">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a>
        </h3>
        <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
      </div>
    </li>
  </ul>
</div>
