<div class="listing listing--2rows {{modifier_class}}">
  <div class="listing__wrapper {{modifier_class}}">
    <div class="listing__item">
      <div class="listing__top">
        <img src="http://placehold.it/130x130">
        <div class="field">
          <div class="label--upper">head of cabinet</div>
        </div>
        <h3 class="listing__title__grey-dark">Stefano Manservisi</h3>
        <div class="listing__top__footer">
          <div class="field field--labeled">
            <div class="field__label">E-mail</div>
            <div class="field__items">
              <a href="mailto:test@test.it">test@test.it</a>
            </div>
          </div>
          <div class="field field--labeled">
            <div class="field__label">Phone number</div>
            <div class="field__items">
              <a href="tel:3465473723">3465473723</a>
            </div>
          </div>
        </div>
      </div>

      <div class="listing__bottom">
        <div class="field field--labeled">
          <div class="field__label">Responsabilities</div>
          <div class="field__items">
            <ul><li align="left">Overall strategic coordination Commission &amp; EEAS IT</li></ul>
            <ul>
              <li>European Council IT</li>
              <li>G-7/8 IT</li>
              <li>G-20 IT</li>
              <li>Relex Commissioner Group IT</li>
              <li>EUSRs IT</li>
              <li>Personnel: Commission &amp; EEAS</li>
              <li>Institutional matters IT</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>