<div class="alert alert-block messages info">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h3>Info message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="alert alert-block messages warning">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h3>Warning message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="alert alert-block messages status">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h3>Successful message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="alert alert-block messages error">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h3>Error message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>