<div class="messages info">
    <h3>Info message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages warning">
    <h3>Warning message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages status">
    <h3>Successful message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages error">
    <h3>Error message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>