<div class="messages info {{modifier_class}}">
    <h3>Info message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages warning {{modifier_class}}">
    <h3>Warning message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages status {{modifier_class}}">
    <h3>Successful message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages error {{modifier_class}}">
    <h3>Error message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages live {{modifier_class}}">
    <h3>Livestream message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
