<div class="mostvisited-item__wrapper">
  <div class="mostvisited-item">
    <div class="mostvisited-item__image">
      <img src="http://placehold.it/360x202"/>
    </div>
    <div class="mostvisited-item__content">
      <div>
        <a href="#">Link Button</a>
      </div>
    </div>
  </div>
  <div class="mostvisited-item">
    <div class="mostvisited-item__image">
      <img src="http://placehold.it/360x202"/>
    </div>
    <div class="mostvisited-item__content">
      <div>
        <a href="#">Link Button</a>
      </div>
    </div>
  </div>
  <div class="mostvisited-item">
    <div class="mostvisited-item__image">
      <img src="http://placehold.it/360x202"/>
    </div>
    <div class="mostvisited-item__content">
      <div>
        <a href="#">Link Button</a>
      </div>
    </div>
  </div>
</div>
