<ul class="pager">
    <li class="pager__item pager__back">
        <a class="pager__btn" href="/filter?value=test&amp;page=1" title="Back">
            <span class="pager__back-arrow icon icon--left"></span>
            <span class="pager__back-text sr-only">Previous</span>
        </a>
    </li>
    <li class="pager__item pager__middle">
        <select class="pager__dropdown">
            <option value="/filter?value=test">Page 1 of 20</option>
            <option value="/filter?value=test&amp;page=1">Page 2 of 20</option>
            <option value="" selected="selected">Page 3 of 20</option>
            <option value="/filter?value=test&amp;page=3">Page 4 of 20</option>
        </select>
    </li>
    <li class="pager__item pager__forward">
        <a class="pager__btn" href="/filter?value=test&amp;page=3" title="Forward">
            <span class="pager__forward-text sr-only">Next</span>
            <span class="pager__forward-arrow icon icon--right"></span>
        </a>
    </li>
</ul>
