<div class="section">
  <div class="section__group">
    <ul class="listing--title">
      <li class="listing__item">
        <a href="#" class="listing__item-link">
          <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
        </a>
      </li>
      <li class="listing__item">
        <a href="#" class="listing__item-link">
          <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
        </a>
      </li>
    </ul>
  </div>
  <div class="section__group section__group--highlight-yellow">
    <div class="listing__wrapper">
      <ul class="listing listing--teaser">
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
            <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
          </a>
        </li>
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
            <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__group section__group--highlight-grey">
    <ul class="listing--title">
      <li class="listing__item">
        <a href="#" class="listing__item-link">
          <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
        </a>
      </li>
      <li class="listing__item">
        <a href="#" class="listing__item-link">
          <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section__group section__group--highlight-grey-lightest">
    <div class="listing__wrapper listing__wrapper--two-columns">
      <ul class="listing listing--teaser">
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
            <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
          </a>
        </li>
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
            <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
          </a>
        </li>
      </ul>
       <ul class="listing listing--teaser">
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
            <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
          </a>
        </li>
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
            <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section__group">
    <div class="listing__wrapper listing--cta">
      <ul class="listing listing--teaser">
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
            <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
          </a>
        </li>
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
            <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
          </a>
        </li>
      </ul>
    </div>
  </div> 
  <div class="section__group section__group--no-margin">
    <div class="listing__wrapper listing__wrapper--three-columns">
      <ul class="listing listing--teaser">
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
            <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
          </a>
        </li>
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
            <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
          </a>
        </li>
      </ul>
       <ul class="listing listing--teaser">
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
            <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
          </a>
        </li>
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
            <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
          </a>
        </li>
      </ul>
      <ul class="listing listing--teaser">
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</h3>
            <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
          </a>
        </li>
        <li class="listing__item">
          <a href="#" class="listing__item-link">
            <h3 class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</h3>
            <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse pulvinar.</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>