<header class="site-header {{modifier_class}}" role="banner">
  <div class="container-fluid">
    <a href="#node" class="logo site-header__logo logo--logotype" title="Home - European Commission">
      <span class="sr-only">Home - European Commission</span>
    </a>

    <section class="top-bar" aria-label="Site tools">
      <div>
        <div class="top-bar__wrapper">
          <div class="region region-header">
            <section class="block block-language-selector-site contextual-links-region lang-select-site lang-select-site clearfix">
              <div class="block__content">
                <a href="#node" class="lang-select-site__link">
                  <span class="lang-select-site__label">English</span>
                  <span class="lang-select-site__code">
                    <span class="icon icon--language lang-select-site__icon"></span>
                    <span class="lang-select-site__code-text">en</span>
                  </span>
                </a>
                <div class="splash-page splash-page--overlay"></div>
              </div>
            </section>
            <section class="block block-nexteuropa-europa-search contextual-links-region clearfix">
              <div class="block__content">
                <form class="search-form" action="#do" method="get"
                      accept-charset="UTF-8">
                  <div>
                    <div class="input-group input-group-search">
                      <label class="search-form__textfield-wrapper">
                        <span class="sr-only">Search this website</span>
                        <div class="form-type-textfield form-item-QueryText form-item">
                          <input class="search-form__textfield form-control form-text" title="Search" type="search"
                                 name="QueryText" value="" size="60" maxlength="128">
                        </div>
                      </label>
                      <span class="input-group-btn search-form__btn-wrapper">
                      <button class="btn-search search-form__btn btn btn-primary form-submit" type="submit"
                              name="op" value="Search">Search</button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </section>

            <section class="site-menu__toggle">
              <button class="btn btn-menu">Menu</button>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
