<div class="splash-page">
  <div class="splash-page__content">
    <div class="container-fluid"><!-- only fluid for styleguide -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <nav class="splash-page__container">
            <h2><span class="icon icon--generic-lang"></span> Select your language</h2>
            <div class="row">
              <div class="col-sm-6">
                <a href="#" lang="en" hreflang="en" class="splash-page__btn-language is-active btn icon icon--check" data-languagespecific="true">English</a>
              </div>
              <div class="col-sm-6">
                <a href="#" lang="nl" hreflang="nl" class="splash-page__btn-language btn icon icon--check" data-languagespecific="true">Nederlands</a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <a href="#" lang="nl" hreflang="nl" class="splash-page__btn-language btn icon icon--check" data-languagespecific="true">Nederlands</a>
              </div>
              <div class="col-sm-6">
                <a href="#" lang="en" hreflang="en" class="splash-page__btn-language is-active btn icon icon--check" data-languagespecific="true">English</a>
              </div>
            </div>
            <div class="splash-page__helper-text">
              <table>
                <tbody>
                  <tr>
                    <th>Language</th><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor suscipit nulla, quis finibus lacus fermentum ut. </td>
                  </tr>
                  <tr>
                    <th>Language</th><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor suscipit nulla, quis finibus lacus fermentum ut. </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="/index_en" class="splash-page__btn-close">Close</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
