<div class="top-image">
  <picture title="Picture title">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="http://lorempixel.com/460/167/business" media="(max-width:479px)">
    <source srcset="http://lorempixel.com/1280/445/business" media="(min-width:960px)">
    <source srcset="http://lorempixel.com/960/334/business" media="(min-width:480px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://lorempixel.com/1280/450/business" alt="Picture title" title="Picture title">
  </picture>
</div>
