parameters:
  git_dir: .
  bin_dir: vendor/bin
  tasks:
    phpcs:
      standard: vendor/drupal/coder/coder_sniffer/Drupal/
      ignore_patterns:
        - build/
        - vendor/
      triggered_by:
        - php
        - module
        - inc
    git_commit_message:
      matchers:
        - '/^(#\d+|EUTHEME-\d+|NEPT-\d+): [A-Z].+\./'
      case_insensitive: false
      multiline: false
    behat:
      config: ~
      format: ~
