imports:
  - { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - build/
    - vendor/
  tasks.phpmd.exclude:
    - build/
    - vendor/
    - templates/
  tasks.git_commit_message.matchers:
    - '/^(Issue #\d+|#\d+|EUTHEME-\d+|NEPT-\d+|OPENEUROPA-\d+): [A-Z].+\./'
