drupal:
  core: "7"
  base_url: "http://127.0.0.1:8888"
  database:
    host: "127.0.0.1"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  settings:
    conf:
      theme_default: "ec_europa"
  post_install:
    - "./vendor/bin/drush --root=$(pwd)/${drupal.root} en -y atomium ec_europa views views_ui libraries entity_translation date date_views date_popup date_api composer_autoloader"
    - "./vendor/bin/drush --root=$(pwd)/${drupal.root} dis -y overlay update"

commands:
  drupal:site-setup:
    - { task: "chmod", file: "${drupal.root}/sites", permissions: 0774, recursive: true }
    - { task: "symlink", from: "../../../../..", to: "${drupal.root}/sites/all/themes/custom/ec_europa" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:behat" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }

ec_europa:
   repository: "https://github.com/ec-europa/ec_europa.git"
   reference:
     root: "tests/reference"
     tag: "0.0.7"
 