drupal:
  core: "7"
  base-url: "http://127.0.0.1:8888"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  settings:
    conf:
      theme_default: "ec_europa"
  post_install:
      - "./vendor/bin/drush --root=$(pwd)/build en -y atomium ec_europa views views_ui libraries entity_translation date date_views date_popup date_api composer_autoloader"
      - "./vendor/bin/drush --root=$(pwd)/build dis -y overlay update"
