
#admin-menu-wrapper ul,
.wtShareNetworks {
  max-width: none;
}

.wtShareNetworks {
  margin-bottom: 0;
}

.views-exposed-form .views-exposed-widget {
  padding: 0;
}

// Workbench form hack
@include breakpoint(screen-md-min) {
  html {
    &.js {
      .filters__btn-submit.ctools-use-ajax {
        display: none;
      }

      &.ie8 {
        .filters__btn-submit.ctools-use-ajax {
          display: block;
        }
      }
    }
  }

  .view-workbench-moderation {
    .views-exposed-widget {
      width: 50%;
      clear: none;

      &:nth-child(odd) {
        padding-right: 2%;
      }
    }

    .views-widget-per-page {
      clear: left;
    }

    .filters__btn-submit {
      width: auto;
      float: left;
      clear: left;
    }
  }
}

//VBO hacks
.page-admin {
  input[type='checkbox'] {
    zoom: 1.6;
    margin-left: 0;

    &.vbo-table-select-all {
      position: static;
    }
  }
}

// Event page hack.
.node-type-event {
  .field--field-event-website .field__items {
    font-weight: bold;
  }

  #practicalinformation .field--attend .field__items span {
    clear: left;
    padding: 0;
  }
}

// Publication listing hack.
@include breakpoint(screen-md-min) {
  .field--publication-listing-exposed {
    margin-top: 43px;
  }
}