.block--full-width {
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;

  & > * {
    margin-left: auto !important;
    margin-right: auto !important;
    @extend .container-fluid;
  }
}

@include breakpoint(screen-lg-min) {
  .block--full-width {
    margin-left: -100%;
    margin-right: -100%;
  }
}
