/*
Expandable

Markup: html/expandable.html

Styleguide expandable
*/

.expandable__content {
  float: left;
  width: 100%;
  background-color: $grey-lightest;
}

.expandable__toggle {
  float: left;
  width: 100%;
  background: $yellow-light;

  &.collapsed {
    background: none;
  }

  .icon {
    margin-right: 0.833em;
  }

  h3 {
    font-size: $font-size-mid;
  }

  &:hover {
    background: $yellow-light;
  }
}
