// SUMMARY (Components, elements, modifiers)
//
// .Expandable (component)
//   Elements:
//    .expandable__content
//    .expandable__toggle
//
//   Component modifiers:
//    .expandable--no-background

/*
Expandable default

Default implementation of the expandable component.

Markup: html/expandable.html

Style guide expandable.1
*/

.expandable__content {
  float: left;
  width: 100%;
  background-color: $grey-lightest;

  @include breakpoint(screen-xs-min) {
    & > p {
      margin: 0.8em 0.8em 0.8em 3.2em;
      font-size: $font-size-little;
    }
  }
}

.expandable__toggle {
  float: left;
  width: 100%;
  background: $yellow-light;

  &.collapsed {
    background: none;
  }

  .icon {
    margin: 0 0.833em;
  }

  h3 {
    font-size: $font-size-mid;
  }

  &:link {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background: $yellow-light;
    outline: none;
    text-decoration: underline;
  }
}

/*
Expandable no background

Markup: html/expandable--no-background.html

.expandable--no-background Expandable without background

Style guide expandable.2
*/

// Modifier for expandable with no icon.
.expandable--no-background {

  .expandable__content {
    background: none;
    & > p {
      margin: 0;
    }
  }

  .expandable__toggle {
    background: none;
    background: none;

    &.hover {
      background: none;
    }
  }

}
