/*
Facet tag

Markup: html/facet-tag.html

Styleguide filters.facettag
*/

.facet-tag {
  @extend .tags;
  @extend .hidden-print;
}

.facet-tag__label {
  @extend .tags__label;
}

.facet-tag__value {
  @extend .tags__items;
  background: $grey-light;
  border-radius: 5px;
  color: $text-color;
  display: inline-block;
  font-size: $font-size-little;
  line-height: 1;
  padding: 0.5em;
  text-transform: lowercase;
}
