/*
Feedback message

Markup: html/feedback-message.html

Styleguide form.feedback-message
*/
.feedback-messages {
  @extend .messages;
  border: none !important;

  &.is-disabled {
    color: $form-control-color-disabled;
  }

  &.is-error {
    background: $grey-lighter url('../images/svg/messages-error.svg') 1em 1.1em no-repeat;
    background-size: 2em;
  }

  @extend .hidden-print;
}

@include breakpoint(screen-xs-min) {
  .feedback-message {
    &.is-error {
    }
  }
}

.no-svg {
  .feedback-message {
    &.is-error {
      background-image: url('../images/png/messages-error.png');
    }
  }
}
