/*
Field

Drupal note:
Field styling appearing in this style guide is only valid for Default drupal field settings

Markup: html/field.html

Style guide field
*/

.field {
  margin-bottom: 0.556em;
  line-height: normal;

  &:last-child {
    margin-bottom: 0;
  }

  .field__item--expired {
    text-decoration: line-through;
  }

  .label-above {
    @extend .h3;
  }

  .field__items {
    display: block;

    p:last-child {
      margin: 0;
    }
  }

  // Why do we have this html? (body field in priorities)
  .sections .container {
    padding: 0;
  }

  .field__label {
    padding: 0.215em 0 0.145em 0;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-bold;
    margin-bottom: 0.5em;
    display: block;
    padding: 0.215em 0 0 0;

    h4 {
      padding: 0;
    }

    a:focus {
      outline-offset: 2px;
    }
  }
}

// Desktop and tablets breakpoint.
@include breakpoint(screen-sm-min) {
  .field {
    .field__label:not(.field__label--above) {
      width: 20%;
      margin-bottom: 0;
      display: inline-block;

      & + .field__items {
        display: inline-block;
        width: 79%;
      }
    }
  }
}

/*
Field aligned

The field aligned modifier should be used for aligning fields that do not have a label
with fields that do have a label.

Markup: html/field--aligned.html

Style guide field.aligned
*/
@include breakpoint(screen-sm-min) {
  .field--aligned {
    .field__items {
      width: 79%;
      margin-left: 20%;
      display: inline-block;
    }
  }
}
