/*
Field

Drupal note:
Field styling appearing in this styleguide is only valid for Default drupal field settings

Markup: html/field.html

.field--labeled - External link icon

Styleguide field
*/

.field {
  .label-above {
    @extend .h3;
  }
}

.field--labeled {
  margin-bottom: 0.556em;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  .field__label {
    display: block;
    clear: both;
    font-size: $font-size-little;
  }

  .field__items {
    display: block;
  }
}

.field--full-width {
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  & > * {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    @extend .container-fluid;
  }
}

@include breakpoint(screen-xs-min) {
  .field--labeled {
    margin-left: -15px;
    margin-right: -15px;
    .field__label,
    .field__items {
      float: left;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .field__label {
      width: 33.3%;
    }

    .field__items {
      width: 66.6%;
    }
  }
}

@include breakpoint(screen-sm-min) {
  .field--labeled {
    .field__label {
      width: 25%;
    }

    .field__items {
      width: 75%;
    }
  }
}

@include breakpoint(screen-lg-min) {
  .field--full-width {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  // Bootstrap specific when in 9-sized column that is next to 3-sized column
  .col-lg-3 + .col-lg-9 {
    .field--full-width {
      position: relative;
      left: -25%;
      width: 125%;
    }
  }
}

/*
Field labeled align

Labeled align modifier should be used for aligning fields that do not have a label
with fields that do have a label.

Markup: html/field--labeled-align.html

Styleguide field.labeledalign
*/
.field--labeled-align {
}

@include breakpoint(screen-xs-min) {
  .field--labeled-align {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;

    .field__items {
      width: 66.6%;
      margin-left: 33.3%;
      padding: 0 15px;
      float: left;
    }
  }
}

@include breakpoint(screen-sm-min) {
  .field--labeled-align {
    .field__items {
      width: 75%;
      margin-left: 25%;
      padding: 0 15px;
      float: left;
    }
  }
}
