/*
File

File component used to show info about the file that can be downloaded
by clicking on the component

Markup: html/file.html

.file--widebar  - Full width download box
.file--bare - Strip down version

Styleguide file
*/

.file {
  @extend .paragraph;
  clear: both;
  background: $grey-lighter;
  padding: 1.333em 1.333em 1.333em 1.333em;
  overflow: hidden;
  @extend .hidden-print;
}

.file-video {
  background: none;
  padding: 1em 0;
}

.file__icon {
  float: left;
  margin-right: 1.333em;
  &:before {
    color: $grey;
    font-size: 2.778em;
  }
}

.file__metadata {
  line-height: 1;
}

.file__title {
  font-weight: bold;
  line-height: initial;
}

.file__language {
  font-weight: bold;
  font-size: $font-size-little;
  display: block;
  line-height: initial;
  margin-top: 0.556em;
}

.file__info {
  font-size: $font-size-xsmall;
  line-height: initial;
  margin-top: 0.556em;
}

.file__btn {
  margin-bottom: 0;
  margin-top: 0.778em;
  width: 10.5em;

  &:after {
    @extend .icon--after;
    @extend .icon--download;
  }
}

.file--widebar {
  @extend .row;
  max-width: 100%;

  margin-left: 0;

  .file__icon {
    @extend .col-xs-1;
    margin-right: 0;
    padding-left: 0;
    height: 2.556em;
    overflow: hidden;

    @media (max-width: $screen-sm-min) {
      min-width: 60px;
    }

    &:before {
      font-size: 2.556em;
    }
  }

  .file__metadata {
    @extend .col-md-7;
    @extend .col-sm-8;
    @extend .col-xs-10;
    padding-left: 0;
  }

  .file__btn {
    @extend .col-md-4;
    @extend .col-sm-3;
    @extend .col-xs-12;

    @media (max-width: $screen-sm-min) {
      margin-top: 15px;
    }
  }
}

// Modifications in the translations under a normal file.
.file--bare {
  background: none;
  border-top: 1px solid $grey;
  padding: 0.5em 0;
  margin: 0 1.333em 0 0;

  .file__icon, .file__language {
    display: none;
  }
}

.file__translations {
  overflow: hidden;
  margin-bottom: 1em;

  .file__translations-control {
    margin-bottom: 0.3em;
    padding: 0 1.333em;
    outline: none;

    &:after {
      margin-left: 10px !important;
      position: relative;
      transition: all 0.3s ease 0s;
      @extend .icon--after;
      @extend .icon--down;
      @extend .icon--blue-dark;
    }

    &.is-collapsed {
      &:after {
        @include rotate(180deg);
      }
    }
  }

  .file__translations-list {
    width: 100%;
  }

  .file__translations-item {
    list-style: none;
  }
}

@include breakpoint(screen-msm-min) {
  .file__metadata,
  .file__btn {
    overflow: hidden;
  }

  .file__metadata {
    float: left;
    width: 15em;
  }

  .file__btn {
    float: right;
    margin-top: 0;
  }
}
