/*
File

File component used to show info about the file that can be downloaded
by clicking on the component.

Styleguide file
*/

/*
File full width

Full width download box version (deprecated)

Markup: html/file.html

Styleguide file.1
*/

/*
File download with translations

File component to download PDF files in various languages.

Markup: html/file-translations.html

Styleguide file.2
*/

.file {
  @extend .hidden-print;
  @extend .row;
  margin: 0 0 0.944em 0;
  background: $grey-lighter;
  padding: 1.333em;
}

.file-video {
  background: none;
  padding: 1em 0;

  .content iframe {
    display: block;
    width: 100%;
    height: auto;
    min-height: 260px;
  }
}

.file-image {
  background: none;
  padding: 0;
}

.file-video--withbackground {
  background: $grey-lighter;
}

.file__icon {
  @extend .col-md-1;
  @extend .col-sm-1;
  float: left;
  padding: 0;
  // We remove on the left (as the image has some whitespace) as it causes
  // a wrong looking margin. Then we add back the margin on the right, to have
  // more spacing between those fields.
  margin-right: 0.1em;
  margin-left: -0.315em;
  height: 2.556em;
  text-align: center;

  &:before {
    color: $grey;
    font-size: 2.556em;
  }
}

.file__metadata {
  @extend .col-md-6;
  @extend .col-sm-6;
  @extend .col-xs-9;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  line-height: 1;
}

.file__title {
  font-weight: bold;
  line-height: initial;
}

.file__caption {
  padding: 0.725em 1em;
  line-height: 1.435em;
  font-size: $font-size-xsmall;
}

.file__language {
  font-weight: bold;
  font-size: $font-size-little;
  display: block;
  line-height: initial;
  margin-top: 0.556em;
}

.file__info {
  margin-top: 0.778em;
  font-size: $font-size-xsmall;
  line-height: initial;
}

.file__contentlanguage {
  font-weight: bold;
}

.file__btn {
  @extend .col-md-4;
  @extend .col-sm-4;
  @extend .col-xs-12;
  margin-bottom: 0;
  margin-top: 0.778em;

  &:after {
    @extend .icon--after;
    @extend .icon--download;
  }
}

.file--widebar {
  @extend .row;
  max-width: 100%;
  width: 100%;
}

.file--condensed {
  padding: 0;
}

// Modifications in the translations under a normal file.
.file--bare {
  margin: 0;
  padding: 0.722em 0;
  background: none;

  .file__btn {
    border: none;

    &:hover {
      color: $text-color;
    }
  }

  .file__icon {
    display: none;
  }
}

.file__translations {
  margin-bottom: 1em;
  padding: 0 1.450em;
  font-size: 0.889em;
  text-align: right;

  .file__translations-control {
    margin-top: 0.444em;
    font-size: 1em;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      color: $black;
      text-decoration: underline;

      &:after {
        color: $black;
      }
    }

    // The arrow, rotating on collapse change.
    &:after {
      @extend .icon--after;
      @extend .icon--down;
      @extend .icon--blue-dark;
      margin-left: 0.525em !important;
      position: relative;
      transition: all 0.3s ease 0s;
    }

    &.is-collapsed {
      &:after {
        @include rotate(180deg);
      }
    }
  }

  .file__translations-list {
    list-style: none;
    margin: 0.944em 0 0 0;
    padding: 0;
    text-align: left;

    .btn--condensed {
      margin-right: -1em;
    }

    // Make it self scaling.
    @media (max-width: $screen-sm-min) {
      .btn--condensed {
        margin-left: -1em;
        margin-right: 0;
      }
    }
  }

  .file__translations-item {
    border-top: 1px solid $grey;

    &:last-child {
      border-bottom: 1px solid $grey;
    }
  }

  // "Looking for another language ..."
  .file__translations-details {
    @extend .file__translations-item;
    font-size: $font-size-little;
    padding-top: 0.5em;
  }
}

@include breakpoint(screen-sm-min) {
  .file__icon {
    width: auto;
    padding: 0;
  }

  .file__translations {
    padding-left: 4.475em;
  }

  .file__metadata,
  .file__btn {
    overflow: hidden;
  }

  .file__metadata {
    float: left;
  }

  .file__btn {
    float: right;
    margin-top: 0;
  }
}
