/*
Footer

Site-wide footer component

Markup: html/footer.html

Styleguide footer
*/

.footer {
  background: $brand-primary;
  color: #fff;
  font-size: $font-size-little;
  text-align: center;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  @extend .hidden-print;
}

.footer__column-main {
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer__label {
  display: block;
  font-size: 14px;
  margin-right: 20px;
}

.footer__disclaimer {
  padding-top: 8px;
  & > * {
    width: 100%;
    display: block;
  }
}

// Menus
.footer__menu {
  padding-left: 0;
  margin: 0;

  .footer__menu-item {
    margin-right: 15px;
    margin-bottom: 0.5em;
    padding: 0;

    &:first-child > a {
      padding-left: 0;
    }

    a {
      padding: 0;
      &:hover,
      &:active,
      &:focus {
        background: none;
      }
    }
  }
}

.footer__menu--separator {
  border-top: 1px solid #4d7cb4;
  margin-top: 0.6em;
  padding-top: 1.2em;
}

// Icons
.footer__icon--social {
  &:before {
    position: relative;
    top: 4px;
    margin-right: 8px !important;
  }

  &:after {
    content: none !important;
    display: none !important;
  }
}

.footer__icon--facebook {
  &:before {
    font-size: 22px;
  }
}

.footer__icon--twitter {
  &:before {
    font-size: 18px;
  }
}

// Site Switcher
.footer__site-switcher {
  background: url('../images/svg/footer__logo.svg') no-repeat center 25px $brand-political;
  background-size: 80px 40px;
  padding: 90px 30px 30px 30px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

a.footer__site-switcher {
  text-decoration: none;
  border: 2px solid transparent;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    border: 2px solid $yellow-light;
  }
}

.no-svg {
  .footer__site-switcher {
    background-image: url('../images/png/footer__logo.png');
  }
}

@include breakpoint(screen-sm-min) {
  .footer {
    text-align: left;
  }

  // Columns
  .footer__column-main {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .footer__column-right {
    padding-bottom: 0;
    float: right;
  }

  .footer__label {
    display: inline-block;

    & ~ .footer__menu {
      display: inline-block;
    }
  }

  .footer__disclaimer {
    & > * {
      width: auto;
      display: inline-block;
      margin-right: 4px;
    }
  }
}

@include breakpoint(screen-md-min) {
  .footer__site-switcher {
    & > * {
      white-space: nowrap;
      display: inline-block;
    }
  }
}

// External link specific adjustments
@mixin _footer_external_link_mixin() {
  &:after {
    position: absolute;
    line-height: 2.2;
  }
}
.footer {
  a {
    padding-right: 1.1em !important;

    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      .site-political & {
        &:not(#{$ec_url_patterns}) {
          @include _footer_external_link_mixin();
        }
      }
      .site-information & {
        @include _footer_external_link_mixin();
      }
    }
  }

  .footer__icon--social {
    padding-right: 0 !important;
  }

  a.footer__site-switcher {
    padding-right: 30px !important;
  }
}
