/*
Footer

Site-wide footer component

Markup: html/footer.html

Style guide footer
*/

.footer__improved,
.footer__top,
.footer__bottom {
  @extend .hidden-print;
}

// Footer improved.
.footer__improved {
  padding: 1em 0;
  background: $blue-light;
  color: $blue-darker;

  .footer__improved--label {
    font-weight: bold;
    margin-bottom: 0;
  }
  .footer__improved--label,
  .footer__menu {
    display: inline;
  }
  a {
    color: $blue-darker;
  }
  .footer__menu-item {
    font-size: $font-size-little;
  }

  // Footer improved column first.
  .footer__improved--column-first {
    @extend .col-md-4;
    margin-bottom: 1em;

    .footer__menu-item {
      font-size: $font-size-medium;
      a {
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  // Footer improved column second.
  .footer__improved--column-second {
    @extend .col-md-4;
  }

  // Footer improved column third and fourth.
  .footer__improved--column-third,
  .footer__improved--column-fourth {
    @extend .col-md-2;
  }

  // Footer improved desktop styles.
  @include breakpoint(screen-md-min) {
    padding: 1.2em 0 0.9em;
    .footer__menu-item {
      font-size: $font-size-little;
    }
    .footer__improved--column-third,
    .footer__improved--column-fourth {
      .footer__menu-item {
        padding-left: 0;
        display: block;
      }
    }
  }
}

// Footer top.
.footer__top {
  background-color: $blue-medium;
  color: #fff;
  a {
    color: #fff;
  }
  .footer__menu-item {
    font-size: $font-size-little;
  }

  // Footer top columns.
  .footer__top--column {
    @extend .col-md-4;
    padding-top: 1.4em;

    &:last-child {
      padding-bottom: 1.4em;
    }

    @include breakpoint(screen-md-min) {
      padding-top: 2em;
      padding-bottom: 2em;

      &:last-child {
        padding-bottom: 2em;
      }
    }
  }
}

// Footer bottom.
.footer__bottom {
  background-color: $brand-primary;
  padding: 0.9em 0;
  color: #fff;
  .footer__menu-item {
    font-size: $font-size-little;
  }
  a {
    color: #fff;
  }
}

.footer__title {
  color: #fff;
  border-bottom: 2px solid $blue-medium-light;
  margin-bottom: 0.2em;

  @include breakpoint(screen-md-min) {
    margin-bottom: 1.1em;
    // Make titles same height on mobile breakpoint.
    min-height: 3.2em;
  }

  // Make titles height auto on large screens.
  @media (min-width: 1291px) {
    min-height: auto;
  }
}

// Menus.
.footer__menu {
  margin: 0;
  padding-left: 0;
  max-width: none;
  list-style: none;

  .footer__menu-item {
    margin-right: 15px;
    &:first-child > a {
      padding-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(screen-md-min) {
      .footer__top &,
      .footer__improved--column-third &,
      .footer__improved--column-fourth & {
        margin-bottom: 0.4em;
      }
    }

    a {
      padding: 0;
      &:hover,
      &:active,
      &:focus {
        background: none;
        text-decoration: none;
      }
    }
  }
}

// Icons.
.footer__icon--social {
  &::before {
    margin-right: 8px !important;
  }

  &::after {
    content: none !important;
    display: none !important;
  }
}

// External link specific adjustments.
@mixin _footer_external_link_mixin() {
  &::after {
    position: absolute;
    line-height: 2.2;
  }
}

.footer {
  a {
    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      &:not(#{$ec_url_patterns}) {
        @include _footer_external_link_mixin();
      }
    }
  }

  a.footer__site-switcher {
    padding-right: 30px !important;
  }
}
