/*
Footer

Site-wide footer component

Markup: html/footer.html

Style guide footer
*/

.footer__top {
  background-color: $blue-medium;
}

.footer__bottom {
  background-color: $brand-primary;
  padding: 0.9em 0;
}

.footer__top,
.footer__bottom {
  @extend .hidden-print;

  color: #fff;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  // Inline listings need more padding-right on the footer.
  .ul-list-inline {
    .footer__menu-item {
      padding-right: 10px;
    }
  }
}

.footer__label {
  display: block;
  margin-right: 20px;
}

.footer__title {
  color: #fff;
  border-bottom: 2px solid $blue-medium-light;
  margin-bottom: 0.2em;

  @include breakpoint(screen-md-min) {
    margin-bottom: 1.1em;
    // Make titles same height on mobile breakpoint.
    min-height: 3.2em;
  }

  // Make titles height auto on large screens.
  @media (min-width: 1291px) {
    min-height: auto;
  }
}

// Menus.
.footer__menu {
  margin: 0;
  padding-left: 0;
  max-width: 100%;
  list-style: none;

  .footer__menu-item {
    margin-right: 15px;
    font-size: $font-size-little;

    &:first-child > a {
      padding-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(screen-md-min) {
      margin-bottom: 0.5em;
    }

    a {
      padding: 0;

      @include _focus_outline_border(3px, $yellow-light, 5px);

      &:hover,
      &:active,
      &:focus {
        background: none;
        text-decoration: none;
      }
    }
  }

  .footer__menu-item-right {
    @extend .footer__menu-item;

    float: right;
  }
}

// Icons.
.footer__icon--social {
  &::before {
    margin-right: 8px !important;
  }

  &::after {
    content: none !important;
    display: none !important;
  }
}

// Footer columns.
.footer__column {
  @extend .col-md-4;

  padding-top: 1.6em;

  &:last-child {
    padding-bottom: 1.6em;
  }

  @include breakpoint(screen-md-min) {
    padding-top: 2em;
    padding-bottom: 2em;

    &:last-child {
      padding-bottom: 2em;
    }
  }
}

// External link specific adjustments.
@mixin _footer_external_link_mixin() {
  &::after {
    position: absolute;
    line-height: 2.2;
  }
}

.footer {
  a {
    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      &:not(#{$ec_url_patterns}) {
        @include _footer_external_link_mixin();
      }
    }
  }

  a.footer__site-switcher {
    padding-right: 30px !important;
  }
}
