/*
Highlighted item

Markup: html/highlighted-item.html

Styleguide highlighted-item
*/

.highlighted-item {
  background-color: $grey-lighter;
  padding-bottom: 1em;
  h3 {
    color: $brand-primary;
  }
  &:hover,
  &:active,
  &:focus {
    h3 {
      text-decoration: underline;
    }
  }
}

.highlighted-item__image {
  img {
    width: 100%;
  }
}

.highlighted-item__content {
  padding: 10px;
}
