/*
Icon

Icons using europa icons font

Markup: html/icon.html

.icon--external - External link icon
.icon--arrow-up - Arrow up icon
.icon--arrow-down - Arrow down icon
.icon--spinner - Spinner icon
.icon--search - Search icon
.icon--language - Language icon
.icon--facebook - Facebook icon
.icon--twitter - Twitter icon
.icon--googleplus - G+ icon
.icon--linkedin - Linkedin icon
.icon--rss - RSS icon
.icon--up - Up icon
.icon--right - Right icon
.icon--down - Down icon
.icon--down-blue - Down icon, blue
.icon--left - Left icon
.icon--file - File icon
.icon--audio - Audio icon
.icon--brochure - Brochure icon
.icon--edit - Edit icon
.icon--image - Image icon
.icon--download - Download icon
.icon--infographic - Infographic icon
.icon--multiple-files - Multiple files icon
.icon--organigram - Organigram icon
.icon--package - Package icon
.icon--slides - Slides icon
.icon--video - Video icon
.icon--error - Error icon
.icon--success - Success icon
.icon--warning - Warning icon
.icon--check - Check icon
.icon--generic-lang - Generic language icon

Styleguide: icon
*/

@font-face {
  font-family: 'EuropaIcons';
  src: url('../fonts/europa-icons/europa-icons.eot');
  src: url('../fonts/europa-icons/europa-icons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/europa-icons/europa-icons.woff') format('woff'),
  url('../fonts/europa-icons/europa-icons.ttf') format('truetype'),
  url('../fonts/europa-icons/europa-icons.svg#icomoon') format('svg');
}

.icon {
  &:before {
    text-decoration: none;
    display: inline-block;
    font-family: 'EuropaIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    margin-right: 4px;
    line-height: 1;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Should be used only with @extend
.icon--after {
  text-decoration: none;
  font-family: 'EuropaIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-left: 4px;
  line-height: 1;
  display: inline-block;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Modifiers
.icon--external {
  content: '\e61a' !important;
}
.icon--external {
  &:before {
    @extend .icon--external;
  }
}

.icon--arrow-up {
  content: '\e61e';
}
.icon--arrow-up {
  &:before {
    @extend .icon--arrow-up;
  }
}

.icon--arrow-down {
  content: '\e61d';
}
.icon--arrow-down {
  &:before {
    @extend .icon--arrow-down;
  }
}

.icon--spinner {
  &:before {
    content: '\e984';
  }
}

.icon--facebook {
  &:before {
    content: '\e605';
  }
}

.icon--twitter {
  &:before {
    content: '\e613';
  }
}

.icon--googleplus {
  &:before {
    content: '\e608';
  }
}

.icon--linkedin {
  &:before {
    content: '\e60c';
  }
}

.icon--rss {
  &:before {
    content: '\e60f';
  }
}

.icon--language {
  &:before {
    content: '\e611';
  }
}

.icon--search {
  &:before {
    content: '\e61c';
  }
}

.icon--up {
  &:before {
    content: '\e618';
  }
}

.icon--right {
  content: '\e617';
}
.icon--right {
  &:before {
    @extend .icon--right;
  }
}

.icon--breadcrumb {
  content: '\e617' !important;
}

.icon--down {
  &:before {
    content: '\e616';
  }
}

.icon--down-blue {
  @extend .icon--down;
  color: $blue-dark;
  padding-left: 0.2em;
  padding-top: 0.1em;
}

.icon--left {
  &:before {
    content: '\e619';
  }
}

.icon--file {
  &:before {
    content: '\e606';
  }
}

.icon--audio {
  &:before {
    content: '\e600';
  }
}

.icon--brochure {
  &:before {
    content: '\e601';
  }
}

.icon--edit {
  &:before {
    content: '\e603';
  }
}

.icon--image {
  &:before {
    content: '\e609';
  }
}

.icon--download {
  content: '\e602' !important;
}
.icon--download {
  &:before {
    @extend .icon--download;
  }
}

.icon--infographic {
  &:before {
    content: '\e60b';
  }
}

.icon--multiple-files {
  &:before {
    content: '\e615';
  }
}

.icon--organigram {
  &:before {
    content: '\e60d';
  }
}

.icon--package {
  &:before {
    content: '\e60e';
  }
}

.icon--slides {
  &:before {
    content: '\e610';
  }
}

.icon--video {
  &:before {
    content: '\e614';
  }
}

.icon--error {
  &:before {
    content: '\e604';
  }
}

.icon--success {
  &:before {
    content: '\e612';
  }
}

.icon--warning {
  &:before {
    content: '\e615';
  }
}

.icon--check {
  content: '\e620';
  &:before {
    @extend .icon--check;
  }
}

.icon--generic-lang {
  content: '\e621';
  &:before {
    @extend .icon--generic-lang;
  }
}

// States
// creating spinning animation for an icon
// in order to enable spinning apend .is-spinning class next to the .icon class
.is-spinning:before {
  @include animation(icon-spin-right 2s infinite linear);
}

@-webkit-keyframes icon-spin-right {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(359deg)
  }
}

@keyframes icon-spin-right {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(359deg)
  }
}
