/*
Labels

Markup: html/labels.html

.label--default - Default
.label--status - Status
.label--highlight - Highlight
.label--meta - Meta
.label--upper - Uppercase label
.label--primary - Primary
.label--success - Success
.label--info - Info
.label--warning - Warning
.label--danger - Danger

Styleguide labels
*/

$label_text_color_light: #fff;

.label {
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 0;
  font-size: $font-size-xxsmall;
  font-weight: normal;
  letter-spacing: 0.12em;
  color: $grey-base;
  line-height: 2;
}

.label--default {
  @extend .label-default;
  color: $label_text_color_light;
}

.label--primary {
  @extend .label-primary;
  color: $label_text_color_light;
}

.label--success {
  @extend .label-success;
  color: $label_text_color_light;
}

.label--info {
  @extend .label-info;
  color: $label_text_color_light;
}

.label--warning {
  @extend .label-warning;
  color: $label_text_color_light;
}

.label--danger {
  @extend .label-danger;
  color: $label_text_color_light;
}

.label--upper {
  text-transform: uppercase;
  text-align: left;
}

.label--highlight {
  color: $grey-base;
  background-color: $yellow-light;

  &.label--meta {
    &:after {
      content: "";
      margin: 0;
    }
  }
}

.label--status {
  color: $grey-base;
  background-color: $grey-lighter;
}

.label--block {
  margin-bottom: 1em;
}

.label--high {
  min-height: 2.75em;
  line-height: 2.75em;
  padding: 0.3em 1em;
  font-size: $font-size-xsmall;
}

.label--no-padding-left {
  padding-left: 0;
}

.label--meta {
  @extend .meta__item;
  margin: 0.25em 1.3em 0.3em 0.5em;
}

.label--meta-medium {
  @extend .label--meta;
  font-size: 75%;
  margin: 0.35em 0.5em 0.45em 0.5em;
}
