/*
Language select (Site)

Language selector that is used across the whole site

Markup: html/lang-select-site.html

Style guide: siteheader.langselect
*/

.lang-select-site {
  position: absolute;
  top: 0;
  right: $grid-gutter-width / 2;
  text-align: center;

  @extend .hidden-print;

  .lang-select-site__link,
  .lang-select-site__placeholder {
    display: inline-block;
    padding: 7.5px 15px;
    font-size: $font-size-little;
    font-weight: bold;
    color: inherit;
    text-align: center;
    text-decoration: none;
    border: 3px solid transparent;

    &:focus {
      border-color: $ec-yellow;
      outline: none;
    }
  }

  .lang-select-site__label {
    margin-right: 0.556em;
  }

  .lang-select-site__link {
    .lang-select-site__label {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .lang-select-site__code {
    display: inline-block;
    position: relative;
    width: $font-size-xsmall * 2;
    color: $brand-primary;
    text-transform: uppercase;
  }

  .lang-select-site__code-text {
    position: relative;
    top: 0;
    left: -1px;
    font-size: $font-size-xsmall;
    color: #fff;
  }

  .lang-select-site__icon {
    position: absolute;
    top: -1px;
    left: -1px;
    line-height: 1.4;
    font-size: $font-size-xsmall * 2;
    color: $brand-primary;

    &::before {
      font-weight: inherit;
    }
  }
}

@include breakpoint(screen-md-min) {
  .lang-select-site {
    float: left;
    position: static;
  }
}
