/*
Language select (Page)

Language selector for a page content.

Markup: html/lang-select-page.html

.lang-select-page--transparent  - Transparent background

Styleguide: langselect
*/

/*
Language select (Dropdown)

Demonstrates the language switcher for mobile and small viewports.

Markup: html/lang-select-page-dropdown.html

.lang-select-page--transparent  - Transparent background

Styleguide: langselect.dropdown
*/

.lang-select-page {
  @extend .hidden-print;

  background: $grey-lightest;
  border-bottom: 1px solid $grey;
  font-size: $font-size-xsmall;
  overflow: hidden;
  width:100%;
}

.icon.lang-select-page__icon {
  @extend .hidden-print;

  float:left;
  margin: 0;
  font-size: 2em;
  padding: 0;

  &:before {
    padding-top:30%;
    float: left;
  }
}

.lang-select-page__unavailable {
  text-decoration: line-through;
}

ul.lang-select-page__list {
  float:left;
  padding: 0;
  margin: 0;

  .lang-select-page__option {
    list-style: none;
    float: left;
    padding: 0.85em;

    a {
      display: block;
    }

    &.is-selected {
      background: $yellow-light;
      font-weight: bold;
      color: #000;
    }
  }
}

select.lang-select-page__list {
  @extend .hidden-print;
  background: transparent url("../images/png/arrow-thick-down.png") no-repeat 8em center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-weight: bold;
  padding-left: 0.5em;
  line-height: 3.4em;
  height: 3.4em;
  width: 10em;
  &:hover {
    // select component is using a font icon with too much specificity that has to be overridden.
    background-size: unset !important;
  }
}

.lang-select-page--transparent {
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;

  select.lang-select-page__list {
    // firefox hide arrow
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    background-color: $blue-darker;
    color: #fff;

    &:hover, &:active {
      border: 0;
    }

    & > option {
      background: $blue-darker;
    }

    &:after {
      @extend .icon--after;
      @extend .icon--arrow-down;
    }
  }

  @-moz-document url-prefix() {
    select.lang-select-page__list {
      height: 3.4em;
    }
  }

  .lang-select-page__option {
    &.is-selected, &.is-selected a {
      color: #000;
    }
    a {
      color: #fff;
    }
  }
}

@include breakpoint(screen-sm-min) {
  .lang-select-page__option {
    display: inline-block;
  }
  .lang-select-page__unavailable {
    margin-right: 3em;
  }
}


// Drupal specifics

// Dynamic header image now being DS.
.region-content .page-header ul.lang-select-page__list {
  max-width: inherit;
}

// Front page should never have secondary language switcher.
.lang-select-page {
  .front & {
    display: none;
  }
}

// Styleguide
#kssref-langselect,
#kssref-langselect-dropdown {
  .kss-modifier__wrapper {
    overflow: hidden;
  }

  .kss-modifier__example {
    height: auto;
    overflow: hidden;
    padding: 2em;
  }

  .kss-modifier__name,
  .kss-markup.kss-style,
  .kss-modifier__description {
    clear: both;
  }

  .lang-select-page--transparent {
    background: $blue-dark;
  }
}


