/*
Listing

Listing components

Markup: html/listing.html

Styleguide listing
*/
$spacing-top-listing__title: 0.9em;
$spacing-bottom-listing__title: 0.7em;

.listing {

  &__read-more {
    text-align: right;
    font-weight: $font-weight-bold;
    display: block;
    text-transform: uppercase;


    &:after {
      @extend .icon--after;
      @extend .icon--right;
      font-size: $font-size-xsmall;
    }
  }
}

.listing__date {
  float: left;
}
.listing__column-main {
  .listing__with {
    margin-top: 0px;
  }
}

.listing__wrapper {
  margin-bottom: 1.667em;
}

.listing__wrapper--maxwidth {
  @extend .row;

  .listing {
    @extend .col-md-8;
  }
}

.listing__item {
  border-bottom: 1px solid $grey-light;
  list-style: none;
  list-style-image: none;
  padding-top: 0;
  padding-bottom: 0;
  &:first-child {
    border-top: 1px solid $grey-light;
  }

  &:hover,
  &:active,
  &:focus {
    a .listing__title,
    a.listing__title {
      text-decoration: underline;
      color: $grey-base;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.listing__item-link {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  overflow: hidden;
  color: $grey-base;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
    &:after {
      display: none !important;
    }
    .listing__title {
      @extend .is-external;
      padding-right: 1.2em;

      &:after {
        position: absolute;
        line-height: 1.6;
      }
    }
  }
}

.listing__column-second {
  width: 100%;
  margin: 0.2em 0 0.8em 0;
}

.listing__column-second--no-link {
  padding-bottom: 0.85em;
  margin: 0;

  .btn {
    margin-bottom: 0;
  }
}

.listing__column-main {
  float: left;
  width: 100%;
  padding-left: 0;
}


.listing__title {
  color: $brand-primary;
  font-family: $font-family-sans-serif;
  font-size: 1em;
  padding: 0;
  display: inline-block;
  line-height: 1.3;
  position: relative;
  @extend .h3;

  & + * {
    font-size: $font-size-little;
    margin-top: $spacing-bottom-listing__title;
  }
}

.listing__wrapper--forthy {
  border-top: 1px solid #e2e2e2;
  max-width: 40em;
}

.listing--no-padding {
  padding-left: 0 !important;
}

.listing--no-border {
  .listing__item {
    border: none !important;
  }
}

.listing--short-spaced {
  .listing__item-link {
    padding-top: 0.5em !important;
    padding-bottom: 0 !important;
  }

  .listing__item {
    &:first-child {
      .listing__item-link {
        padding-top: 0 !important;
      }
    }
  }
}

// Modifier to add line on the left
.listing--line-left {
  .listing__title {
    padding: 0 !important;
  }

  // Teaser listing
  .listing--teaser {
    padding-left: 0;
  }

  .listing__item {
    border-top: none;
    border-bottom: none;
    border-left: 5px solid $blue-dark;
    margin-top: 0.85em;
    margin-bottom: 1em;
    padding: 0.4em 0 0.4em 0.7em;

    .listing__item-link {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.listing--no-link {
  .listing__item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.listing--title-large,
.listing--title-medium {
  .listing__title {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }
}

.listing--title-large {
  .listing__item {
    margin-bottom: 15px;
  }

  .listing__title {
    font-size: $font-size-h2;
  }
}

.listing--title-medium {
  .listing__title {
    font-size: $font-size-h3;
  }
}

.listing--person {
  .listing__item-link {
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .listing__title + * {
    line-height: 1.3;
    margin-top: 0;
  }
  .listing__item:first-child {
    border-top: none;
  }
}

.listing--nostripe {
  padding: 30px;

  .listing__item {
    border: none;

    &:first-child {
      border: none;

      .listing__item-link {
        padding-top: 0;
      }
    }

    &:last-child {
      .listing__item-link {
        padding-bottom: 0;
      }
    }
  }
}

.listing--cta {
  .listing__item-link {
    padding-right: 1.667em;
    padding-left: 1.667em;
  }
  .listing__item {
    border: none;
    .listing__title,
    a {
      background-color: $brand-primary;
      color: #ffffff;
    }

    &:hover,
    &:active,
    &:focus {
      .listing__title {
        color: #ffffff;
      }
    }
  }
  .listing__title {
    position: relative;
    padding-right: 1.3em;
    &:after {
      @extend .listing__title--arrow;
    }
  }
}

.listing__title--arrow {
  &:after {
    margin-left: 10px;
    margin-top: 2px;
    font-size: 1.2em;
    position: absolute;
    @extend .icon--after;
    @extend .icon--right;
  }
}

@include breakpoint(screen-xs-min) {
  .listing__column-second {
    float: right;
    width: 25%;
    padding-left: 15px;
    margin: 0;

    & + .listing__column-main {
      width: 75%;
    }
  }

  .listing__column-second--no-link {
    width: 100%;
    padding-left: 0;
  }
}

@include breakpoint(screen-msm-min) {
  .listing__column-main--sidebar-next {
    width: 66.6%;
  }

  .listing__column-second--no-link {
    float: right;
    width: 33.3%;
    padding-left: 15px;
    padding-top: 0.85em;

    .btn {
      margin-top: 1.667em;
    }
  }
}

/*
Listing title

Listing components

Markup: html/listing--title.html

.listing--line-left - Listing line left

Styleguide listing.title
*/
.listing--title,
ul.listing--title {
  padding: 0;

  .listing__item {
    &:hover,
    &:active,
    &:focus {
      a .listing__title {
        text-decoration: none;
      }
    }
  }

  .listing__item-link,
  .listing__title {
    padding: 0;
    margin: 0;
    display: block;
  }

  a.listing__title,
  a .listing__title {
    display: block;
    padding-top: $spacing-top-listing__title;
    padding-bottom: $spacing-bottom-listing__title;
    padding-right: 2em;
  }

  a.listing__title {

    // External icon specific fixes
    &:after {
      line-height: 1.6;
    }
  }
}

/*
Listing teaser

Listing components

Markup: html/listing--teaser.html

.listing--cta  - Listing CTA
.listing--no-padding - Listing no padding
.listing--title-large - Listing title large
.listing--title-medium - Listing title medium
.listing--short-spaced - Listing short spaced
.listing--line-left - Listing line left

Styleguide listing.teaser
*/

.listing--priorities {
  .meta {
    display: none;
  }
}

.listing--teaser,
ul.listing--teaser {
  .listing__item-link {
    padding-top: 0.85em;
    padding-bottom: 1em;
  }
}

/*
Listing layouts

Listing components

Markup: html/listing--column-left.html

Styleguide listing.column-left
*/
.listing--column-left {
  .listing__column-main {
    width: auto;
    overflow: hidden;
    float: none;
  }

  .listing__column-second {
    width: auto;
    float: left;
    padding-right: 15px;
    padding-left: 0;
  }
}

.listing__wrapper--three-columns,
.listing__wrapper--two-columns,
.listing__wrapper--row-three,
.listing__wrapper--row-two {
  .listing__title {
    margin: 0.2em 0 0.4em 0;
  }
  p {
    padding: 0;
  }
}

.listing__wrapper--three-columns,
.listing__wrapper--two-columns {
  @extend .row;
}

.listing__wrapper--two-columns {
  .listing {
    margin-bottom: 2em;
    @extend .col-sm-6;
  }

  .listing--title-large {
    @extend .col-md-6;
  }
}

.listing__wrapper--three-columns {
  .listing {
    @extend .col-md-4;
  }
}

.listing__wrapper--row-three,
.listing__wrapper--row-two {
  .listing {
    @extend .row;
  }
}

.listing__wrapper--row-two {
  .listing__item {
    @extend .col-md-6;
    &:nth-child(odd) {
      clear: left;
    }
  }
}

.listing__wrapper--row-three {
  .listing__item {
    @extend .col-md-4;
    margin-top: 15px;
  }
}

@include breakpoint(screen-md-min) {
  .listing__wrapper--two-columns {
    .listing {
      margin-bottom: 0;
    }
  }
}

/*
Listing Agenda

Listing components

Markup: html/listing--agenda.html

Styleguide listing.agenda
*/
.listing--agenda {

  p {
    margin: 0;
  }

  .listing__item {
    padding-top: 0.85em;
    padding-bottom: 1em;
  }

  .meta {
    margin-bottom: 0;
  }

  .listing__item-link {
    padding: 0;
  }

  h3 {
    &.listing__title {
      font-size: $font-size-medium;
      color: $grey-base;
    }
  }

  .listing__author {
    font-size: $font-size-little;
  }

}

/*
Listing  2rows

Listing components

Markup: html/listing--2rows.html


Styleguide listing.listing--2rows
*/

.listing--2rows {

  .listing__item {
    padding: 1em 0;
    position: relative;

    .listing__top {
      min-height: 120px;

      img {
        position: absolute;
        right: 0;
        top: 1em;
      }
    }

    .field--field-biography-tagline {
      @extend .label--upper;
    }

    .field {
      margin: 0.5em 0 0;
    }

    .listing__title + * {
      font-size: inherit;
    }

    .field__label,
    .field-title {
      padding: 0;
      font-size: $font-size-little;
      font-weight: 600;
      float: left;
      width: 25%;
    }

    .field-title {
      padding-top: 0.5em;
    }

    .listing__bottom {
      clear: both;

      ul {
        list-style-position: inside;
        margin-bottom: 0;
        padding-left: 0;
      }

      .field-name-body .field-items {
        padding-left: 15px;
        width: 75%;
        display: inline-block;
      }
    }

    .field--field-social-networks {

      a {
        margin-top: 0.5em;
        display: block;
        font-size: 0.8em;

        &::after,
        &::before {
          display: none;
        }
      }
    }
  }
}

// Listing item contact
.listing__item--contact {
  border: none;
  overflow: visible;

  &:first-child {
    border: none;
  }

  .field {
    margin: 0.5em 0 0;
  }

  img {
    float: right;
    margin-top: -2em;
  }

  .field--labeled .field__label {
    padding: 0;
    font-size: $font-size-little;
    font-weight: 600;
  }

  .btn-default {
    margin: 0.5em 0 0;
  }
}

@media screen and (max-width: $screen-sm) {
  .listing__item--contact {
    .field--labeled {
      margin: 0.5em 0;

      .field__label,
      .field__items {
        padding: 0;
        width: 100%;
      }
    }

    img {
      float: none;
      margin: 0.5em 0;
    }

    .field--labeled-align .field__items {
      margin-left: 0;
    }
  }
}

.bio--top.listing {
  border-bottom: 1px solid $grey-light;
}

// This has to be generalized, the field component doesn't provide margins.
#team .field {
  margin-bottom: 0.5em;
}

// Listing item bio
.listing__item--bio {
  min-height: 160px;
  position: relative;

  .group-bio-col {
    position: static;
  }

  .group-bio-top-footer {
    position: absolute;
    bottom: 0;

    .field {
      margin-right: 1em;
      display: table-cell;
      vertical-align: bottom;
      padding-right: 1em;
    }

    .dt_social_network_links {
      float: left;
      margin-right: 0.3em;

      a::after,
      a::before {
        display: none;
      }
    }

    * {
      margin-bottom: 0;
    }
  }
}

.listing__read-more + .free-text {
  margin-top: 2em;
}

// Spare css line, this refers to the "declaration of interests" section in the bio.
.view-biography-declaration {
  margin-top: 1.5em;
}

.section__group--full-width .listing__wrapper--two-columns .listing:first-child p {
  margin: 0.3em 0;
}

.section__group--full-width .listing__wrapper--two-columns .listing:last-child {
  border-left: 2px solid #ccc;
  padding-left: 3em;
}

@media screen and (max-width: $screen-xs) {
  .listing--2rows {

    .listing__item {
      .field--labeled {
        .field__label,
        .field__items {
          padding: 0;
          width: 100%;
        }
      }

      .field-title {
        width: 100%;
        margin-bottom: 0.3em;
      }

      .field--field-social-networks a {
        float: left;
        margin-right: 1em;
      }

      .listing__bottom ul {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .listing--2rows {
    .listing__item {
      .listing__top {
        img {
          position: static;
        }
      }
    }
  }
}

