// Ec logo small (svg)
//
// Default EC logo in SVG.
//
// Markup: html/logo.html
//
// Styleguide siteheader.logo

// Component
// --------------------------------------------------
.logo {
  display: block;
  float: left;
  width: 140px;
  height: 72px;
  background: url('../images/svg/logo.svg') no-repeat;
}

// EC logo small (png)
//
// Default EC logo in PNG.
//
// Markup: html/logo-no-svg.html
//
// Styleguide siteheader.logo-no-svg

.no-svg {
  .logo {
    background-image: url('../images/png/logo.png');
  }
}

// EC logo front (svg)
//
// EC logo on front page, SVG file.
//
// Markup: html/logo-front.html
//
// .language-bg - Bulgarian
// .language-cs - Czech
// .language-da - Danish
// .language-de - German
// .language-et - Estonian
// .language-el - Greek
// .language-en - English
// .language-es - Spanish
// .language-fr - French
// .language-ga - Irish/Gaeilge
// .language-hr - Croatian
// .language-it - Italian
// .language-lv - Latvian
// .language-lt - Lithuanian
// .language-hu - Hungarian
// .language-mt - Maltese
// .language-nl - Dutch
// .language-pl - Polish
// .language-pt - Portuguese
// .language-ro - Romanian
// .language-sk - Slovak
// .language-sl - Slovene
// .language-fi - Finnish
// .language-sv - Swedish
//
// Styleguide siteheader.logo-front-svg

.front {
  .logo {
    width: 255px;
    height: 70px;
  }
  @include languages_logo('../images/svg/logo/logo--', '.svg');
}

// EC logo front (png)
//
// Ec logo on front page, SVG file.
//
// Markup: html/logo-front-no-svg.html
//
// .language-bg - Bulgarian
// .language-cs - Czech
// .language-da - Danish
// .language-de - German
// .language-et - Estonian
// .language-el - Greek
// .language-en - English
// .language-es - Spanish
// .language-fr - French
// .language-ga - Irish/Gaeilge
// .language-hr - Croatian
// .language-it - Italian
// .language-lv - Latvian
// .language-lt - Lithuanian
// .language-hu - Hungarian
// .language-mt - Maltese
// .language-nl - Dutch
// .language-pl - Polish
// .language-pt - Portuguese
// .language-ro - Romanian
// .language-sk - Slovak
// .language-sl - Slovene
// .language-fi - Finnish
// .language-sv - Swedish
//
// Styleguide siteheader.logo-front-png

.no-svg {
  .front {
    .logo {
      width: 255px;
      height: 70px;
    }
    @include languages_logo('../images/png/logo/logo--', '.png');
  }
}

// If the logo is linking to an external page do not show the external icon.
.site-header__logo {
  &::before,
  &::after {
    display: none !important;
  }
}