// EC logo
//
// Default EC logo.
//
// Markup: html/logo.html
//
// Styleguide siteheader.logo

.logo {
  display: block;
  float: left;
  width: 140px;
  height: 72px;
  background: url('../images/svg/logo.svg') no-repeat;
}

.no-svg {
  .logo {
    background-image: url('../images/png/logo.png');
  }
}

// EC language logo
//
// EC logo with language information.
//
// Markup: html/logo--language.html
//
// .language-bg - Bulgarian
// .language-cs - Czech
// .language-da - Danish
// .language-de - German
// .language-et - Estonian
// .language-el - Greek
// .language-en - English
// .language-es - Spanish
// .language-fr - French
// .language-ga - Irish/Gaeilge
// .language-hr - Croatian
// .language-it - Italian
// .language-lv - Latvian
// .language-lt - Lithuanian
// .language-hu - Hungarian
// .language-mt - Maltese
// .language-nl - Dutch
// .language-pl - Polish
// .language-pt - Portuguese
// .language-ro - Romanian
// .language-sk - Slovak
// .language-sl - Slovene
// .language-fi - Finnish
// .language-sv - Swedish
//
// Styleguide siteheader.logo-language

// Sets language-specific background image on .logo--language element nested in {{modifier_class}} modifier.
@include logo-background-languages('../images/svg/logo/logo--', '.svg');

.logo--language {
  @extend .logo;
  width: 255px;
}

.no-svg {
  @include logo-background-languages('../images/png/logo/logo--', '.png');

  .logo--language {
    @extend .logo;
    width: 255px;
  }
}

// If the logo is linking to an external page do not show the external icon.
.site-header__logo {
  &::before,
  &::after {
    display: none !important;
  }
}
