/*

Messages

Markup: html/messages.html

Styleguide messages

*/
$messages-text-color: $grey-base;
$messages-heading-size: $font-size-little;
$messages-text-size: $font-size-little;
$messages-icon-size: 2em;

.messages {
  border: 2px solid;
  border-color: $blue;
  color: $messages-text-color;
  font-family: $font-family-sans-serif;
  font-size: $messages-text-size;
  margin: 0 0 1em;
  padding: 1em 4em;
  position: relative;
  overflow: hidden;

  &:before {
    background: url("../images/svg/messages-info.svg") no-repeat;
    float: left;
    height: $messages-icon-size;
    margin-right: 0.667em;
    margin-top: -0.85em;
    width: $messages-icon-size;
    content: '';
    position: absolute;
    top: 1.667em;
    left: 1em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.status {
    border-color: $green;
    &:before {
      background-image: url("../images/svg/messages-success.svg");
    }
  }

  &.warning {
    border-color: $yellow;
    &:before {
      background-image: url("../images/svg/messages-warning.svg");
    }
  }

  &.error {
    border-color: #da2131;
    &:before {
      background-image: url("../images/svg/messages-error.svg");
    }
  }

  h3 {
    font-size: $messages-heading-size;
    font-weight: bold;
  }

  p,
  ul {
    max-width: 100%;
    margin-bottom: 0 !important;
  }
}

.messages__list {
  padding-left: 14px;
  margin-bottom: 0;
  max-width: auto;
  font-family: $font-family-sans-serif;
}

.messages__list-item {
  margin-top: 0.5em;
  &:first-child {
    margin-top: 0;
  }
}

.no-svg {
  .messages {
    &:before {
      height: 2.5em;
      width: 2.5em;
      background: url("../images/png/messages-info.png");
    }

    &.status {
      &:before {
        background-image: url("../images/png/messages-info.png");
      }
    }

    &.warning {
      &:before {
        background-image: url("../images/png/messages-warning.png");
      }
    }

    &.error {
      &:before {
        background-image: url("../images/png/messages-error.png");
      }
    }
  }
}

// Drupal Overrides
.messages {
  ul {
    @extend .messages__list;
    li {
      @extend .messages__list-item;
    }
  }
}
