/*

Messages

Markup: html/messages.html

.messages--icon-center - Centralized icon

Styleguide messages
*/
$messages-text-color: $grey-base;
$messages-heading-size: $font-size-little;
$messages-text-size: $font-size-little;
$messages-icon-size: 2em;

.messages {
  border: 2px solid;
  border-color: $blue;
  color: $messages-text-color;
  font-family: $font-family-sans-serif;
  font-size: $messages-text-size;
  margin: 0 0 1em;
  padding: 1em 1em 1em 4em;
  position: relative;
  overflow: hidden;
  background: url("../images/svg/messages-info.svg") no-repeat 1em 1.1em;
  background-size:  $messages-icon-size;

  &.messages--icon-center {
    background-position: 1em center;
  }

  &.status {
    border-color: $green;
    background-image: url("../images/svg/messages-success.svg");
  }

  &.warning {
    border-color: $yellow;
    background-image: url("../images/svg/messages-warning.svg");
  }

  &.error {
    border-color: #da2131;
    background-image: url("../images/svg/messages-error.svg");
  }

  &.live {
    border-color: $yellow;
    background-image: url("../images/svg/live_streaming.svg");

  }

  h3 {
    font-size: inherit;
    font-weight: bold;
    padding-top: 0;
  }

  p {
    max-width: 95%;
    margin-bottom: 0;
    font-size: $messages-text-size;
  }
}

.messages__list {
  padding-left: 0;
  margin-bottom: 0;
  max-width: auto;
  font-family: $font-family-sans-serif;
}

.messages__list-item {
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }
}

.no-svg {
  .messages {
    background-image: url("../images/png/messages-info.png");

    &.status {
      background-image: url("../images/png/messages-info.png");
    }

    &.warning {
      background-image: url("../images/png/messages-warning.png");
    }

    &.error {
      background-image: url("../images/png/messages-error.png");
    }

    &.live {
      background-image: url("../images/png/live_streaming.png");
    }
  }
  .alert {
    .close {
      background-image: url("../images/png/close.png");

      &:hover {
        background-image: url("../images/png/close_hover.png");
      }
    }
  }
}

// Drupal Overrides
.messages {
  ul {
    @extend .messages__list;

    li {
      @extend .messages__list-item;
    }
  }
}

// Bootstrap Overrides
.alert {
  margin: 1.667em 0;
  border-radius: 0;

  .close {
    text-shadow: none;
    color: transparent;
    text-decoration: none;
    opacity: 1;

    background: url("../images/svg/close.svg") no-repeat right top;
    padding: 0 0 0 5px;

    &:hover {
      background-image: url("../images/svg/close_hover.svg");
    }
  }
}
