/*
Most Visited item

Markup: html/mostvisited-item.html

Styleguide mostvisited-item
*/



.mostvisited-item {
  background-color: $grey-lighter;
  padding-bottom: 1em;
}

.mostvisited-item__image {
  img {
    width: 100%;
  }
}

.mostvisited-item__content {
  padding: 10px;
  a {
    color: $brand-primary;
    text-decoration: none !important;
  }
}
