/*
Notification

Notification that appears at the top of the site.

Markup: html/notification.html

Style guide notification
*/

.notification {
  @extend .hidden-print;
  padding: 10px 0 6px;
  background-color: $ec-yellow;
  font-size: 14px;

  a {
    color: #000;
    @include _focus_outline_border(3px, #000, 2px);

    &:hover,
    &:focus {
      text-decoration: none; 
    }
  }
}

.notification__label {
  display: inline-block;
  margin-right: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.notification__content {
  display: block;

  .notification__text {
    float: left;
    width: 100%;
    margin-bottom: 6px;
    margin-right: 8px;
  }

  .notification__btn {
    float: left;
    margin-bottom: 6px;
    font-weight: bold;

    &::after {
      @extend .icon--after;
      @extend .icon--right;

      font-size: $font-size-xxsmall;
    }
  }

  p {
    max-width: none;
    margin: 0;
  }
}

.notification__content__more {
  font-weight: $font-weight-bold;

  & .icon {
    position: relative;
    top: 2px;
  }
}

@include breakpoint(screen-sm-min) {
  .notification__content {
    .notification__text {
      width: 75%;
    }

    .notification__btn {
      float: right;
    }
  }
}

@include breakpoint(screen-lg-min) {
  .notification__content__more {
    float: right;
  }
}

// External link specific adjustments
@mixin _notification_external_link_mixin() {
  padding-right: 1.1em;

  &::after {
    position: absolute;
    line-height: 2.2;
  }
}

.notification {
  a {
    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      &:not(#{$ec_url_patterns}) {
        @include _notification_external_link_mixin();
      }
    }
  }
}
