/*

Notification

Notification that appears at the top of the site

Markup: html/notification.html

Styleguide notification

*/
.notification {
  background: $yellow-light;
  padding: 10px 0 6px;
  font-size: 14px;
  @extend .hidden-print;

  a {
    color: #000;
  }
}

.notification__label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1.5em;
}

.notification__content {
  display: block;

  .notification__text {
    float: left;
    margin-bottom: 6px;
    margin-right: 8px;
    width: 100%;
  }

  .notification__btn {
    font-weight: bold;
    float: left;
    margin-bottom: 6px;

     &:after {
       font-size: 12px;
       @extend .icon--after;
       @extend .icon--right;
     }
  }

  p {
    max-width: none;
    margin: 0;
  }
}

@include breakpoint(screen-sm-min) {
  .notification__content {
    display: block;

    .notification__text {
      width: 75%;
    }

    .notification__btn {
      float: right;
    }
  }
}

// External link specific adjustments
.notification {
  a {
    padding-right: 1.1em;
    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      &:after {
        position: absolute;
        line-height: 2.2;
      }
    }
  }
}
