/*
Page header

Page header component

Markup: html/page-header.html

.page-header--image - Header with a background image
.page-header--large-intro - Header with larger intro text


Styleguide page-header
*/

/*
Political page header

Markup: html/page-header--political.html

Styleguide page-header.political
*/

/*
Informational site page header

Markup: html/page-header--informational.html

Styleguide page-header.informational
*/

/*
Informational site homepage header

Markup: html/page-header--informational-home.html

Styleguide page-header.informational-home
*/

.page-header {
  background: $brand-primary;
  margin: 0;
  padding: 0 0 1.5em;
  color: #fff;
  border-bottom: none;

  h1 {
    margin: 0;
    color: #fff;
  }

  p {
    margin: 0;
    font-size: $font-size-h4;
    line-height: 1.5;
    color: #fff;
    max-width: 40em;
  }

  a {
    color: #fff;
    &:hover:not(.breadcrumb__link, .btn) {
      color: $yellow-light;
    }

    &#{"[" + $external_link_pattern + "]"}:not(.is-internal, .listing__title) {
      .site-political & {
        &:not(#{$ec_url_patterns}) {
          @include _page_header_external_link_mixin();
        }
      }
      .site-information & {
        @include _page_header_external_link_mixin();
      }
    }
  }

  .page-header__top,
  .page-header__main,
  .page-header__bottom {
    display: block;
    width: 100%;
  }

  .page-header__top {
    text-transform: uppercase;
  }
  .page-header__main {
    line-height: $line-height-base;
  }
  .page-header__bottom {
    font-size: 26px;
  }
  .page-header__hero-title {
    padding-top: 2.39em;
  }
}

.page-header--large-intro {
  padding-bottom: 2.39em;
  p {
    font-size: $font-size-h2;
    line-height: $line-height-large;
  }
}

.page-header--image {
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


// Drupal connect.
.node-type-info-homepage .page-header {
  @extend .page-header--large-intro;
}