/*
Pager

Depends on 'icon' component for showing back/forward arrows.

Markup: html/pager.html

Styleguide pager
*/

.pager {
  font-weight: bold;
  margin: 0.938em auto;
  height: 3.750em;

  // If .pager is too small .pager__item will be hidden.
  overflow: hidden;

  & > .pager__item {
    list-style: none;

    // Next to each other, match the .pager height for vertical align.
    float: left;
    line-height: 3.750em;

    & > .pager__btn {
      color: #fff;
      margin: 0;
      background: $blue-dark;
      font-size: $font-size-little;
      display: inline-block;
      text-align: center;

      // Old browsers.
      *zoom: 1;
      *display: inline;

      // States.
      &:hover, &:focus, &:active, &:visited {
        color: #fff;
      }
    }
  }
}

.pager__middle {
  background: $grey-lighter;

  .pager__dropdown {
    // Removing ugly dotted line.
    &::-moz-focus-inner,
    &:focus {
      border: 0;
      outline: none;
    }

    // Background.
    background: transparent url("../images/svg/arrow-down--blue.svg") no-repeat scroll 10.313em center;
    background-size: 0.938em 0.625em;
    &:hover {
      background-image:url("../images/svg/arrow-down--blue.svg");
      background-size: 0.938em 0.625em !important; // native select:hover should not override this specificity.
    }

    // Removing native arrow in all browsers.
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    cursor: pointer;
    font-size: $font-size-little;
    padding: 1.3em 4.688em 1.3em 1.250em;
  }
}

// Cover up case of misunderstood svg.
.no-svg {
  .pager__dropdown {
    background-image: url("../images/png/arrow-down-blue.png");
  }
}

// Common traits between back and forward buttons.
.pager__back,
.pager__forward {
  .pager__btn {
    width: 4em;

    // Ajax throbber should not make any button larger in height.
    overflow: hidden;
  }
}

// Forward specific.
.pager__forward {
  text-align: right;
  margin-right: 0.625em;
}

// Arrows inside the pager items.
.pager__back-arrow,
.pager__forward-arrow {
  height: 1.250em;
  display: inline-block;
  position: relative;

  // Override font icon rather than parent elements,
  // because parents could have padding and margin.
  // Avoiding: increasing font size with paddings resize the whole element.
  &.icon:before, &.icon::before {
    font-size: 1.7em;
    top: 5px;
    position: relative;
  }
}

// Mobile-first does not contain button labels.
.pager__back-text,
.pager__forward-text {
  display: none;
}

@include breakpoint(screen-msm-min) {
  // Resets.
  .pager__back,
  .pager__forward {
    .pager__btn {
      width: auto;
      &:hover {
        text-decoration: none;
      }
    }
  }

  // Show buttons' labels.
  .pager__back-text,
  .pager__forward-text {
    display: inline-block;
  }

  // TWEAKS:
  // Back button specifics.
  .pager__back {
    .pager__btn {
      padding: 0 2.500em 0 0.938em;
    }
  }
  // Forward button specifics.
  .pager__forward {
    .pager__btn {
      padding: 0 0.625em 0 5.000em;
      .pager__forward-text {
        padding-right: 0.438em;
      }
    }
  }

  .pager {
    height: 2.813em;
    .pager__item {
      line-height: 2.813em;
    }

    // Select list spacing specifics.
    .pager__middle {
      .pager__dropdown {
        padding: 1em 4.688em 1em 1.250em;
      }
    }
  }
}

// Drupal-specific hack.
.region-content ul.pager {
  margin: 0.938em auto;
}
