/*
Page header

Page header component

Markup: html/page-header.html

.page-header--featured - Featured Page Header

.page-header--image - Header with a background image


Styleguide page-header
*/
.page-header {
  background: $brand-primary;
  margin: 0;
  padding: 0 0 1.5em;
  color: #fff;

  h1 {
    margin: 0;
    color: #fff;
  }

  p {
    margin: 0;
    font-size: $font-size-h4;
    line-height: 1.5;
    color: #fff;
    max-width: 40em;
  }

  .page-header__top,
  .page-header__main,
  .page-header__bottom {
    display: block;
    width: 100%;
  }

  .page-header__top {
    text-transform: uppercase;
  }
  .page-header__main {
    line-height: $line-height-base;
  }
  .page-header__bottom {
    font-size: 26px;
  }

  .page-header--featured {
    background: $brand-primary;
    color: #fff;
    line-height: 1.5;
    h2 {
      color: #fff;
    }
    p {
      font-size: $font-size-h2;
    }
  }
}

.page-header__hero-title {
  padding-top: 2.39em;
}

.page-header--image {
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// External link specific adjustments
@mixin _page_header_external_link_mixin() {
  padding-right: 1.1em;
  display: inline-block;
  &:after {
    position: absolute;
    line-height: 2.2;
  }

  &.btn {
    padding-right: 2.1em;
  }
}
.page-header {
  a {
    color: #fff;
    &:hover:not(.breadcrumb__link, .btn) {
      color: $yellow-light;
    }

    &#{"[" + $external_link_pattern + "]"}:not(.is-internal, .listing__title) {
      .site-political & {
        &:not(#{$ec_url_patterns}) {
          @include _page_header_external_link_mixin();
        }
      }
      .site-information & {
        @include _page_header_external_link_mixin();
      }
    }
  }
}

// Drupal.
.front .page-header {
  @extend .page-header--featured;
  padding: 0;
}
