/*
Pager

Depends on 'icon' component for showing back/forward arrows.

Markup: html/pager.html

Styleguide pager
*/

.pager {
  font-weight: bold;
  margin: 0.938em auto;
  overflow: hidden;

  & > li.pager__item {
    float: left;
    line-height: 3.750em;
    list-style: none;

    & > a.pager__btn {
      color: #fff;
      margin: 0;
      background: $blue-dark;
      font-size: $font-size-little;
      display: inline-block;
      text-align: center;
      line-height: normal;
      vertical-align: middle;

      // Old browsers.
      *zoom: 1;
      *display: inline;

      // States.
      &:hover, &:focus, &:active, &:visited {
        color: #fff;
      }
    }
  }
}

// Ajax throbber should not make any button larger in height.
.pager__back,
.pager__forward {
  .pager__btn {
    overflow: hidden;
  }
}

// forward as a child of pager
.pager__forward {
  text-align: right;
  margin-right: 0.625em;
}

// Arrows inside the pager items.
.pager__back-arrow,
.pager__forward-arrow {
  height: 1.250em;
  font-size: 1.3em;

  display: inline-block;
  position: relative;
}

.pager__forward-text {
  display: none;
}

.pager__middle {
  background: $grey-lighter;
  font-size: $font-size-little;
}

.pager__dropdown {
  border: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.no-svg {
  .pager__combo-dropdown {
    background-image: url("../images/png/arrow-down-blue.png");
  }
}

//@media (min-width: 530px) {
//  .pager {
//    width: 460px;
//  }
//
//  .pager__combo {
//    display: block;
//  }
//  .pager__back {
//    width: auto;
//    .pager__btn {
//      width: 80px;
//    }
//  }
//  .pager__forward {
//    float: none;
//    width: 160px;
//  }
//  .pager__forward-text {
//    display: inline;
//    padding-left: 15px;
//    padding-top: 4px;
//    float: left;
//  }
//}

// Drupal-specific hack.
.region-content ul.pager {
  margin: 15px auto;
}
