/*
Search form

Markup: html/search-form.html

Styleguide: siteheader.searchform
*/
.search-form {
  @extend .hidden-print;
  margin-bottom: 1em;
  overflow: hidden;
  border: 1px solid $grey;

  & > div {
    display: table;
    border-collapse: separate;
  }

  .search-form__textfield-wrapper,
  .search-form__btn-wrapper {
    position: relative;
    display: table-cell;
  }

  .search-form__btn-wrapper {
    width: 1%;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.search-form__textfield {
  width: 100%;
  margin: 0;
  border: none;
}

.search-form__btn {
  @extend .icon;
  @extend .icon--search;
  min-height: 2.75em;
  margin-right: -1px;
  margin-bottom: 0;
  padding: 0 22px;
  text-indent: -999em;
  overflow: visible;
  border: none !important;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.9em;
    text-indent: 0;
  }
}

@include breakpoint(screen-md-min) {
  .search-form {
    & > div {
      display: block;
    }

    .search-form__textfield-wrapper {
      float: left;
    }

    .search-form__btn-wrapper {
      float: left;
      width: auto;
      display: block;
      vertical-align: inherit;
      white-space: inherit;
    }
  }

  .search-form__btn {
    padding: 0 1em;
    text-indent: 0;

    &:before {
      display: none !important;
    }
  }
}
