/*
Search form

Markup: html/search-form.html

Style guide: searchform
*/

.search-form {
  @extend .hidden-print;

  display: inline-block;
  margin-bottom: 1em;
  overflow: hidden;
  border: 1px solid $grey;

  .search-form__textfield-wrapper {
    position: relative;
    display: table-cell;
    margin-bottom: 0;
    border: 3px solid transparent;
  }

  .search-form__btn-wrapper {
    font-size: inherit;
  }
}

.search-form__textfield {
  min-height: 2.325em;
  height: 2.325em;
  font-size: inherit;
  border: none;
}

.search-form__btn {
  @extend .icon;

  min-height: 2.75em;
  margin-right: -1px;
  margin-bottom: 0;
  padding: 0 22px;
  text-indent: -999em;
  overflow: visible;
  border: none !important;

  &::before {
    @extend .icon--search;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.9em;
    text-indent: 0;
  }
}

@include breakpoint(screen-md-min) {
  .search-form {
    margin-bottom: 0;

    .search-form__textfield-wrapper,
    .search-form__btn-wrapper {
      float: left;
    }
  }

  .search-form__btn {
    padding: 0 1em;
    text-indent: 0;

    &::before {
      display: none !important;
    }
  }
}

@include breakpoint(screen-xs-min) {
  .search-form__textfield {
    min-height: 2.375em;
  }
}

/*
Search form for internal search

Markup: html/search-form-improved.html

.search-form--improved

Style guide: searchform.search-form--improved
*/

.search-form--improved {
  background: #f3f3f3;
  padding: 1.2em 1.5em;

  h5 {
    font-size: $font-size-medium;
    text-transform: none;
    padding-bottom: 1.2em;
  }

  .search-form__textfield-wrapper {
    float: none;
    width: 100%;
    background: #fff;
    border: 3px solid #fff;
    border-bottom: none;
    @extend .icon;

    &:before {
      @extend .icon--search;
      position: absolute;
      top: 25%;
      left: 1%;
      z-index: 3;
      color: $grey;
    }

    &:hover {
      &:before {
        display: none;
      }
    }
  }

  .form-control {
    position: relative;
    bottom: 0;
  }

  button[type="submit"] {
    background: $brand-primary;
    color: #fff;
    min-height: 2.78em;
  }
}

@include breakpoint(screen-sm-min) {
  .search-form--improved .form-control {
    bottom: 3px;
  }
}
