/*
Site header

Markup: html/site-header.html

Style guide: siteheader
*/

.site-header {
  overflow: hidden;
  color: $brand-primary;
  padding: 14px 0 0;
  position: relative;

  @include breakpoint(screen-md-min) {
    .site-header__logo {
      position: relative;
      top: 15px;
      margin-bottom: 1em;
    }

    & {
      padding: 14px 0;
    }
  }

  @media print {
    -webkit-print-color-adjust: exact;
  }

  & > .container-fluid {
    position: relative;
  }

  a {
    @include _focus_outline_border(3px, $ec-yellow, 5px);
  }
}

/*
Site Header for Homepage

Markup: html/site-header-homepage.html

.site-header--homepage

Style guide: siteheader.site-header--homepage
*/
.site-header--homepage {
  padding: 0;

  .site-header__logo {
    float: none;
    position: relative;
    top: 38px;
    margin: 0 auto;
  }
}
