.site-menu {
  @extend .hidden-print;
  .btn-ctn {
    @extend .btn-ctn--border;
  }
  .listing__item {
    .listing__title {
      color: #000;
      padding: 0.5em 0;
      @extend .listing__title--arrow;
      &:after {
        margin-left: 0.5em;
        margin-top: 5px;
        font-size: 0.8em;
      }

      & + * {
        margin-top: 0;
      }
    }
  }
}

.site-menu__section {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-top: 2em;
  padding-bottom: 1.5em;
  &:last-child {
    border: none;
  }
}

.site-menu__toggle {
  .btn {
    width: 100%;
    border: 3px solid $brand-primary;
  }
  @extend .hidden-print;
}

.front {
  .site-menu__toggle {
    .btn {
      border: 2px solid #fff;
    }
  }
}

.js .site-menu {
  height: 0;
  &.collapse {
    height: inherit;
  }
}
