/*
Site switcher

Helps the user choose between political and informational websites.

Markup: html/site-switcher.html

.site-switcher--header - Header modifier
.site-switcher--footer - Footer modifier

Styleguide: siteswitcher
*/

.site-switcher {
  background: $grey-lightest;
  display: block;
  font-size: $font-size-little;
  @extend .hidden-print;
}

.site-switcher__list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.site-switcher__option {
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  width: 50%;

  & > a {
    display: block;
    width: 100%;
    padding: 0.5em 1.667em;
    line-height: 1.3;

    &:after, &.is-external:after {
      content: none !important;
    }
  }

  &.is-selected {
    background: $blue-dark;
    border-left: none;

    & > a {
      color: #fff;
      font-weight: bold;
    }
  }
}

.site-switcher--header {
  .site-switcher__list {
    &:first-child {
      border-left: 1px solid $grey;
    }
  }

  .site-switcher__option {
    &.is-selected {
      & > a {
        position: relative;

        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " " !important;
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(0, 68, 148, 0);
          border-top-color: $blue-dark;
          border-width: 10px;
          margin-left: -10px;
        }
      }
    }
  }
}

.site-switcher--footer {
  border-bottom: 1px solid $grey-lightest;
  overflow: hidden;

  .site-switcher__list {
    &:first-child {
      border-left: none;
    }
  }

  .site-switcher__option {
    &.is-selected {
      & > a {
        position: relative;

        &:after {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " " !important;
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(0, 68, 148, 0);
          border-bottom-color: $blue-dark;
          border-width: 10px;
          margin-left: -10px;
        }
      }
    }
  }
}

@include breakpoint(screen-md-min) {
  .site-switcher__option {
    width: auto;
  }

  .site-switcher--footer {
    .site-switcher__list {
      float: right;
    }
  }
}
