/*
Site header

Markup: html/site-header.html

Styleguide: siteheader
*/

.site-header {
  overflow: hidden;
  color: $brand-primary;
  padding: 14px 0;
  position: relative;
  @include breakpoint(screen-md-min) {
    .site-header__logo {
      position: relative;
      top: 15px;
    }
  }
  @media print {
    -webkit-print-color-adjust: exact;
  }

  & > .container-fluid {
    position: relative;
  }
}

.front {
  .site-header {
    padding-bottom: 0;
  }
  .site-header__logo {
    top: 0;
    margin-bottom: 0;
  }
}
