/*
Social Media

Social Media Links

Markup: html/social-media-links.html

Styleguide social
*/

.social-media-links {
  background-color: $grey-lighter;
  padding: 30px;
  .social-media-links__list {
    list-style-type: none;
    padding: 0px !important;
    margin: 0px !important;
  }
  @extend .hidden-print;
}

.social-media-links__item {
  margin-bottom: 0.7em;
  & > a {
    width: 100%;
    display: block;

    &:before {
      margin-bottom: 0px;
    }
    &:after, &.is-external:after {
      display: none !important;
    }
  }
  &--noicon {
    font-size: 0.8em;
    margin-top: 1.2em;
  }
}

.social-media-links--horizontal {
  li {
    float: none !important;
  }
  ul.wtShareNetworks {
    max-width: none !important;
  }
}


// Extending for social bookmark kit web tools.
.wtShareList {
  @extend .social-media-links__item;
  a[href^="http"]:not(.is-internal):after {
    display: none !important;
  }
  background: transparent !important;
  ul {
    @extend .social-media-links__list;
  }
  a.wtShareMore {
    @extend .social-media-links__item--noicon;
  }
  .wtShareLink {
    @extend .social-media-links__item;
    font-size: 18px;
    background: transparent !important;
  }
}