/*
Tags

Tags component used to display tag section that is typically displayed under a content

Markup: html/tags.html

Styleguide tags
*/

.tags {
  padding-bottom: 0.8em;
  width: 100%;
  overflow: hidden;
}

.tags__label {
  float: left;
  text-transform: uppercase;
  margin-right: 1em;
  margin-top: 0.1em;
}

.tags__items {
  overflow: hidden;
}

.tags__item {
  float: left;
  display: inline-block;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  background: $grey-light;
  border-radius: 5px;
  font-size: $font-size-little;
  line-height: 1;
  padding: 0.5em;
  text-transform: lowercase;
  color: $text-color;

  &:hover {
    background-color: $grey-base;
    color: #fff;
  }
}

.tags__item a,
a.tags__item {
  color: $text-color;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

/*
Facet tag

Markup: html/facet-tag.html

Styleguide tags.facettag
*/

.facet-tag {
  @extend .tags;
  @extend .hidden-print;
}

.facet-tag__label {
  float: left;

  @extend .tags__label;
}

.facet-tag__value {
  @extend .tags__item;
}

/*
Facet tag with close

Markup: html/facet-tag--close.html

Styleguide tags.facet-close
*/

.facet-tag--close {
  .facet-tag__value {
    // Close icon.
    &:after {
      @extend .icon--after;
      @extend .icon--tag-close;
    }
    &:hover:after {
      @extend .icon--after;
      @extend .icon--tag-close-hover;
    }
  }
}
