/*
Tags

Tags component used to display tag section that is typically displayed under a content

Markup: html/tags.html

Styleguide tags
*/

.tags {
  padding-top: 0.2em;
  padding-bottom: 0.8em;
  width: 100%;
  overflow: hidden;
}

.tags__label {
  float: left;
  text-transform: uppercase;
  margin-right: 0.7em;
  margin-bottom: 0.5em;
  font-size: $font-size-xsmall;
  padding-top: 0.15em;
}

.tags__items {
  vertical-align: middle;
}

.tags__item {
  float: left;
  display: inline-block;
  margin-right: 1.4em;
  margin-bottom: 0.4em;
  background: $grey-light;
  border-radius: 5px;
  font-size: $font-size-xsmall;
  line-height: 1;
  padding: 0.5em;
  text-transform: lowercase;
  color: $text-color;
  outline: 3px transparent solid;
}

.tags__item a,
a.tags__item {
  color: $text-color;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $yellow-light;
  }
}

/*
Facet tag

Markup: html/facet-tag.html

Styleguide tags.facettag
*/

.facet-tag {
  @extend .tags;
  @extend .hidden-print;
  @include breakpoint(screen-xs-min) {
    width: auto;
    display: inline-block;
  }
}

.facet-tag__label {
  float: left;
  @extend .tags__label;
}

.facet-tag__value {
  @extend .tags__item;
  text-transform: none;
}

/*
Facet tag with close

Markup: html/facet-tag--close.html

Styleguide tags.facet-close
*/

.facet-tag--close {
  .facet-tag__value {
    // Close icon.
    &:after {
      @extend .icon--after;
      @extend .icon--tag-close;
      vertical-align: bottom;
    }
    &:hover:after {
      @extend .icon--after;
      @extend .icon--tag-close-hover;

    }
  }
  .tags__item a,
  a.tags__item {
    &:hover {
      color: #fff;
      background-color: $grey-base;
    }
  }
}
