// SUMMARY (Components, elements, modifiers)
//
// .Expandable (component)
//   Elements:
//    .expandable__content
//    .expandable__toggle
//
//   Component modifiers:
//    .expandable--link

/*
Expandable default

Default implementation of the expandable component.

Markup: html/expandable.html

Style guide Expandable.1
*/

.expandable__content {
  float: left;
  width: 100%;
  background-color: $ec-grey5;

  @include breakpoint(screen-xs-min) {
    & > p {
      margin: 0.8em 0.8em 0.8em 4em;
      font-size: $font-size-little;
    }
  }
}

.expandable__toggle {
  float: left;
  width: 100%;
  background-color: $ec-yellow;

  &.collapsed {
    background: none;
  }

  .icon {
    margin: 0 0.833em;
    position: absolute;
    left: 0;
    top: 17%;
  }

  h3 {
    max-width: none;
    margin-right: 1em;
    font-size: $font-size-mid;
    position: relative;
    padding: .8em 0 .8em 3em;
  }

  &:link {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: $ec-yellow;
    outline: none;
    text-decoration: underline;
  }
}

/*
Expandable link

Markup: html/expandable--link.html

.expandable--link Expandable link

Style guide Expandable.2
*/

// Modifier for expandable link with icon.
.expandable--link {
  .expandable__content {
    background: none;

    & > p {
      margin: 0;
    }
  }

  .expandable__toggle {
    background: none;

    .icon {
      position: static;
    }

    &.collapsed {
      .icon--up {
        &::before {
          @include rotate(180deg);
        }
      }
    }

    &:hover {
      background: none;
    }
  }
}
