/*
Featured item

Component used to render featured/highlighted items.

Style guide featured-item
*/

/*
Featured item

Markup: html/featured-item.html

Style guide featured-item.1
*/

.featured-item {
  width: 100%;
  float: left;
  padding: 30px 0 0;

  .listing__wrapper--three-columns & {
    padding-top: 15px;
  }
}

/*
Featured item extended

Visual changes and link option

Markup: html/featured-item__extended.html

Style guide featured-item.2
*/

.featured-item__extended {
  margin-bottom: 1.667em;
  padding: 15px 0;
  background-color: $grey-lighter;
  border-left: 0.556em solid $yellow-light;
}

.featured-item__image {
  @extend .col-md-5;
  margin-bottom: 1em;

  picture {
    img {
      width: 100%;
    }
  }
}

.featured-item__content {
  @extend .col-md-7;

  p {
    font-size: $font-size-little;
  }

  h3 {
    a {
      color: $grey-base;
    }
  }
}

.featured-item__image,
.featured-item__content {
  .listing__wrapper--three-columns & {
    @extend .col-md-12;
    clear: left;
  }
}

// Reset featured image and content double padding when inside a listing.
.listing--teaser {
  .featured-item__image,
  .featured-item__content {
    padding: 0;
  }
}
