/*
Labels

Markup: html/labels.html

.label--default - Default
.label--status - Status
.label--highlight - Highlight
.label--meta - Meta
.label--upper - Uppercase label
.label--primary - Primary
.label--success - Success
.label--info - Info
.label--warning - Warning
.label--danger - Danger

Style guide labels
*/

.label {
  display: inline-block;
  padding: 0.475em 0.5em 0.5em;
  font-size: $font-size-xxsmall;
  font-weight: normal;
  letter-spacing: 0.12em;
  color: $ec-grey;
  border-radius: 0;
}

.label--default {
  @extend .label-default;

  color: #fff;
}

.label--primary {
  @extend .label-primary;

  color: #fff;
}

.label--success {
  @extend .label-success;

  color: #fff;
}

.label--info {
  @extend .label-info;

  color: #fff;
}

.label--warning {
  @extend .label-warning;

  color: #fff;
}

.label--next {
  background-color: $ec-yellow75;
}

.label--danger {
  @extend .label-danger;

  color: #fff;
}

.label--upper {
  text-align: left;
  text-transform: uppercase;
}

.label--highlight {
  background-color: $ec-yellow;
  color: $ec-grey;

  &.label--meta {
    &::after {
      content: "";
      margin: 0;
    }
  }
}

.label--status {
  background-color: $ec-grey10;
  color: $ec-grey;
}

.label--block {
  display: inline-block;
  margin-bottom: 0.833em;
}

.label--high {
  min-height: 2.75em;
  padding: 0.3em 1em;
  line-height: 2.75em;
  font-size: $font-size-xsmall;
}

.label--no-padding-left {
  padding-left: 0;
}

.label--meta {
  @extend .meta__item;

  margin: 0.25em 1.3em 0.3em 0;
}

.label--meta-medium {
  @extend .label--meta;

  margin: 0.35em 0.5em 0.45em 0;
  font-size: 75%;
}
