/*
Site user menu

User menu in two variants

Markup: html/site-user-menu.html

.site-user-menu--header - Header modifier

Style guide: site-user-menu
*/

.site-user-menu {
  text-align: right;

  a { 
    text-decoration: none;
  }
}

a.site-user-menu__list {
  display: inline-block;
}

.site-user-menu__list {
  @extend .reset-lists;
  font-weight: $font-weight-bold;
  padding: 0.5em;

  .site-user-menu--header & {
    background: #ececec;
    font-size: $font-size-little;
    padding: 0.3em;
  }
}

.site-user-menu__option {
  display: inline-block;
  padding: 0.375em 0.61em;

  @at-root a.site-user-menu__list,
  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &:first-child {
    font-weight: normal;
  }
}

a.site-user-menu__list {
  display: block;
  padding-right: 0.91em;
}

@include breakpoint(screen-md-min) {
  .site-user-menu__list {
    float: right;
    padding: 0.35em 0;

    .site-user-menu--header & {
      background: none;
    }

    .site-user-menu__option {
      padding: 0 0.95em;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@include breakpoint(screen-xs-min) {
  .site-user-menu__option {
    padding: 0.15em 0.61em;
  }
}
