/*
Button group

Custom bootstrap button group

Markup: html/btn-group.html

.btn-group-row-two    - Two column button block (deprecated, used only at Commissioners site).

Styleguide buttons.group
*/

.btn-group {
  margin-top: 1em;
  @extend .hidden-print;

  .btn {
   margin-right: 0.4em;
   margin-bottom: 0;

   &:last-child {
     margin-right: 0;
   }
  }
}

.btn-group-row-two {
  width: 100%;
  .btn {
    margin-left: 0 !important;
    margin-bottom: -2px;
    float: left;
    width: 48.5%;
    &:nth-child(odd) {
      margin-right: 3%;
      clear: left;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
