/*
Checkbox

Markup: html/checkbox.html

Styleguide form.checkbox
*/

/*
 * Please
 * @see http://bootsnipp.com/snippets/featured/funky-radio-buttons
 * @see http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953
 */

// Component
.checkbox {
  margin-bottom: 2px;
  margin-top: 0;

  label {
    color: $grey-base;
    height: $form-control-height;
    line-height: $form-control-height;
    display: block;
    text-align: left;
  }

  input {
    margin: 1px 0 0 13px;
  }

  // Checkbox.
  input[type="checkbox"] {
    height: $form-control-height;
    margin-left: -9999px;
    position: relative;
    float: left;

    +label {
      &:before {
        border: 2px solid transparent;
        border-radius: 8px;
        width: $form-checkbox-icon-size;
        height: $form-checkbox-icon-size;
        padding: $form-checkbox-icon-size 0 0 $form-checkbox-icon-size;
      }
    }

    // Focus state, not checked.
    &:focus+label {
      &:before {
        border: 2px solid $form-control-border-color-focus;
      }
    }

    // Default state.
    &:not(checked)+label {
      padding-left: 2.778em;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0.8em;
        left: 1em;
        background: url('../images/svg/checkbox-unchecked-trans-inside.svg') no-repeat;
        background-size: auto $form-checkbox-icon-size;
      }
    }

    // Checked state.
    &:checked+label {
      &:before {
        background-image: url('../images/svg/checkbox-checked--blue.svg');
      }
    }

    // Hover state, not checked.
    &:hover:not(checked)+label {
    }

    // Hover state, checked.
    &:hover:checked+label {
    }
  }
}

// Turning off completely custom checkboxes when SVG's are not available
.no-svg {
  .checkbox {
    label {
      height: auto;
      line-height: inherit;
      display: inline;
      background: none;
      padding-left: 0;
    }
    input[type="checkbox"] {
      margin: 0;
      float: none;
      height: auto;
      &:before {
        display: none;
      }

      &:not(checked)+label {
        background: none;
        padding: 0;
        &:before {
          display: none;
        }
      }

      &:checked+label {
        color: inherit;
        background: none;

        &:before {
          display: none;
        }
      }
    }
  }
}
