/*@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-regular-webfont.eot');
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-regular-webfont.woff') format('woff'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-regular-webfont.ttf') format('truetype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-regular-webfont.svg#ec_square_sans_proregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-italic-webfont.eot');
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-italic-webfont.woff') format('woff'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-italic-webfont.ttf') format('truetype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-italic-webfont.svg#ec_square_sans_proitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-meditalic-webfont.eot');
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-meditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-meditalic-webfont.woff') format('woff'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-meditalic-webfont.ttf') format('truetype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-meditalic-webfont.svg#ec_square_sans_proMdIt') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-medium-webfont.eot');
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-medium-webfont.woff') format('woff'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-medium-webfont.ttf') format('truetype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-medium-webfont.svg#ec_square_sans_promedium') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-bolditalic-webfont.eot');
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-bolditalic-webfont.woff') format('woff'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-bolditalic-webfont.svg#ec_square_sans_probold_italic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-bold-webfont.eot');
  src: url('../fonts/ecsquaresanspro/ecsquaresanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-bold-webfont.woff') format('woff'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-bold-webfont.ttf') format('truetype'),
  url('../fonts/ecsquaresanspro/ecsquaresanspro-bold-webfont.svg#ec_square_sans_probold') format('svg');
  font-weight: 800;
  font-style: normal;
}*/
