// Global
body {
  min-width: 320px;
  font-family: $font-family-base;
  font-weight: 400;
  line-height: 1.667;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint(screen-xs-min) {
    font-size: 18px;
  }
}

.no-js .collapse {
  display: block;
  visibility: visible;
}

.region-sidebar-first {
  padding: 1.667em 0;
}
