// Global
body {
  font-family: $font-family-base;
  font-weight: 400;
  line-height: 1.667;

  overflow-x: hidden;

  min-width: 320px;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint(screen-xs-min) {
    font-size: 18px;
  }
}

.no-js {
  .collapse {
    display: block;
    visibility: visible;
  }
}


/*
Typography

Styleguide text
*/
