.padding-reset {
  padding:0 !important;
}

.padding-wysiwyg-body {
  padding:0 10px;
}

.col-separator-left {
  border-left: 1px solid $grey;
}

.col-separator-right {
  border-right: 1px solid $grey;
}

// States
.is-not-animating {
  @include transition(none);
}
