/*
Lists

Markup: html/lists.html

Style guide Typography.lists
*/

ul,
ol {
  max-width: 32em;
  padding-left: 1em;
  list-style-type: disc;

  ul,
  ol {
    list-style-type: disc;
  }

  &.ul-list-inline {
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.region-content {
  ul,
  ol {
    margin-bottom: 30px;
  }
}

li > ul,
li > ol {
  margin-left: 5px;
  margin-bottom: 5px;
  line-height: 1.625;
  font-size: $font-size-little;
}

