/*
Lists

Markup: html/lists.html

Style guide text.lists
*/

ul,
ol {
  max-width: 32em;
  padding-left: 1em;
  list-style-type: disc;

  ul,
  ol {
    list-style-type: disc;
  }
}

.region-content {
  ul,
  ol {
    margin-bottom: 30px;
  }
}

li > ul,
li > ol {
  margin-left: 5px;
  margin-bottom: 5px;
  line-height: 1.625;
  font-size: $font-size-little;
}
