/*
Paragraphs

Markup: html/paragraphs.html

.paragraph--intro - Intro
.paragraph--small - Small body text

Styleguide text.paragraphs
*/

.paragraph {
  margin-bottom: 0.8em;
  max-width: 32em;
}

p {
  @extend .paragraph;
}

.paragraph--width-auto {
  width: auto;
}

.paragraph--intro {
   font-size: $font-size-mid;
}

.paragraph--small {
  font-size: $font-size-little;
}