/*
Select

Markup: html/select.html

Styleguide form.select
*/

// Internet explorer behaviour.
.ie9 .form-select {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-right: 0;

  select {
    background: none;
    z-index: 99;
    width: 115%;
  }

  .select-list-arrow {
    z-index: 50;
    width: $form-control-height;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/png/arrow-down--white.png"),  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mMI/w8AAbABVyRmoCYAAAAASUVORK5CYII=);
    background-repeat: no-repeat, repeat;
    background-size: $font-size-medium + 0.10em (20em / 32.6em) * $font-size-medium, $form-control-height 100%;
    background-position: center center;
    cursor: pointer;
  }

  &:hover {
    select {
      border-color: $form-control-border-select-color-hover;
    }

    .select-list-arrow {
      background: url("../images/png/arrow-down--white.png"),  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNgcJnyHwAC+AHYTZq+IgAAAABJRU5ErkJggg==);
      background-size: $font-size-medium + 0.10em (20em / 32.6em) * $font-size-medium, $form-control-height 100%;
      background-position: center center;
      background-repeat: no-repeat, repeat;
    }
  }
}

.select {
  /* Hide the arrow */
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  // Fix for IE 10+.
  &::-ms-expand {
    display: none;
  }

  &.form-control {
    @include select-list-arrow($form-control-border-color);
    // To not make it overlap.
    padding-right: 50px;
  }

  // Hover state.
  &:hover {
    border-color: $form-control-border-select-color-hover;
    @include select-list-arrow($form-control-border-select-color-hover);
  }

  // Down state.
  &.is-down {
    @include select-list-arrow(#ffffff);
  }

}

select {
  @extend .select;
}
