#kss-node .kss-modifier__wrapper {
  overflow: hidden; }

.kss-modifier__example {
  height: auto; }

.kss-modifier__name,
.kss-markup.kss-style,
.kss-modifier__description {
  clear: both; }

#kss-node .kss-description > p {
  max-width: none; }

#kss-node .kss-modifier__wrapper {
  float: left;
  width: 100%; }

#kss-node .kss-modifier__name,
#kss-node .kss-modifier__description {
  margin: 2.4em 0;
  padding: 0.6em;
  display: inline-block;
  float: none; }

#kss-node .kss-modifier__name {
  background: #004494;
  color: #fff;
  width: 50%;
  margin-left: -0.6em; }
  #kss-node .kss-modifier__name::before {
    content: "[Modifier] ";
    font-size: 0.778em;
    clear: both; }

#kss-node .kss-modifier__description {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  width: 53%;
  margin: 2.4em -0.9em 3em -0.5em; }

#kss-node .kss-markup {
  visibility: hidden;
  max-height: 40px;
  overflow: hidden;
  position: relative; }
  #kss-node .kss-markup::before {
    content: "Show html markup";
    position: absolute;
    visibility: visible;
    right: 0;
    background: #404040;
    color: #fff;
    padding: 0.2em 1em;
    cursor: pointer;
    font-weight: 600;
    clear: both; }
  #kss-node .kss-markup:hover {
    visibility: visible;
    max-height: none; }
    #kss-node .kss-markup:hover::before {
      background: transparent;
      font-size: 0px; }

.section-styleguide-random {
  background: #666;
  text-align: center;
  color: #fff; }

.section-styleguide {
  background: #ececec;
  text-align: center;
  color: #004494; }
  .section-styleguide p {
    max-width: none; }
  .section-styleguide .section__group-styleguide {
    background: #ccc; }
    .section-styleguide .section__group-styleguide p {
      padding: 50px 0; }
